---
layout:
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Equations - IAS PCS UPSC BANK CIVIL SERVICES EXAM COACHING INSTITUTE</title>
        <meta name="description" content="Equations - Top IAS PCS UPSC and Banking Civil Servcies Coaching in Dehradun – Classic IAS Academy is the best IAS Academy and Institute for civil services examination in Dehradun for the students">
        <meta name="keywords" content="Top Best IAS PCS UPSC Banking Civil Servcices classes premium affordable online Coaching college students professional candidates">

        {% include head_commons.html %}

    </head>
    <body id="page-top">
        {% include header.html %}

        <!--====================================================
                               HOME-P
        ======================================================-->
        <div id="home-p" class="home-p pages-head1 text-center">
            <div class="container">
                <h1 class="wow fadeInUp" data-wow-delay="0.1s">Bank PO | SBI PO | IBPS PO | RRB PO</h1>
            </div>
            <!--/end container-->
        </div>
        <!--====================================================
                             ABOUT-P3
        ======================================================-->
        <section id="story" class="about-p3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="story-desc">
                            <p>We provide Bank PO Coaching by highly experienced team of Uttarakhand. The Team has been credited with more than 520 final selections. The team consists of faculties with 15 – 22 years experience.</p>
                            <p>Fresh Batches for Bank PO are available.</p>

                            <div>
                                <h5>Online Bank PO Course details (Full Course)</h5>

                                <ul class="list-group">
                                    <li class="list-group-item">330+ Videos</li>
                                    <li class="list-group-item">50+ Chapterwise Quant, Reasoning, GK, English etc. PDF files </li>
                                    <li class="list-group-item">100+ Tests</li>
                                    <li class="list-group-item">Course Fee Rs 1140</li>
                                    <li class="list-group-item">
                                        <button type="button" class="btn btn-link"><a href="https://www.youtube.com/channel/UC9Fj2SJf0911ZBj_bxTo8aQ" target="_blank">
                                            Watch limited free lectures
                                        </a></button>
                                    </li>
                                    <li class="list-group-item">Watch all lectures &nbsp;&nbsp;
                                        <button type="button" class="btn btn-danger">
                                            <a href="http://payments.course-today.com/eyJjb3Vyc2VJZCI6MTg5MzAsInR1dG9ySWQiOjI0NDIzfQ==" target="_blank" style="color:white">Buy Now</a>
                                        </button>
                                    </li>
                                  </ul>
                            </div>
                            
                            <br>
                            <div>
                                <h5>Classroom Coaching in Dehradun</h5>
                                <p>Call us at: +91 8266010605</p>
                            </div>

                        </div>

                    </div>           
                </div>
            </div>     
        </section>
        <!--====================================================
                              Table Bank PO PRE CONTENT
        ======================================================-->
        <!--***** CONTENT *****-->     
        <section class="what-we-do bg-gradiant-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="text-center wow fadeInUp" data-wow-delay="0.1s">IBPS PO online test syllabus</h3>
                        <table class="table table-hover">
                            <thead>
                                <tr class="text-white">
                                    <th>Sr No</th>
                                    <th>Test Name</th>
                                    <th>Qns.</th>
                                    <th>Marks</th>
                                    <th>Duration</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-white">
                                    <th scope="row">1</th>
                                    <td>Reasoning Ability</td>
                                    <td>35</td>
                                    <td>35</td>
                                    <td> </td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row">2</th>
                                    <td>Quantitative Aptitude</td>
                                    <td>35</td>
                                    <td>35</td>
                                    <td>01 hour</td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row">3</th>
                                    <td>English Language</td>
                                    <td>30</td>
                                    <td>30</td>
                                    <td> </td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row"></th>
                                    <td>Total</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td> </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            Candidates have to qualify in each of the three tests by securing cut-off marks to be decided by IBPS. Adequate number of candidates in each category as decided by IBPS depending upon requirements will be shortlisted for online Main examinatio
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="small-news-box">
                            <h3 class="wow fadeInUp" data-wow-delay="0.1s">Notification News</h3>
                            <a href="">
                                <div class="right-side-sn-cont">
                                    <img src="img/news/news-9.jpg" alt="" class="img-fluid">
                                    <p>Regarding IBPS online Main examination.</p>
                                    <small><fa class="fa-watch"> Jan 1, 2019</fa></small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
        <!-- =====================================
               
        ========================================== -->
        <section id="story" class="about-p3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="story-desc">
                            <h3>IBPS MAINS EXAM PATTERN</h3>
                            <div class="heading-border-light"></div>
                            <p>
                                Cut-off Score (Online main examination) : Each candidate will be required to obtain a minimum score in each test of Online Main examination and also a minimum total score to be considered to be shortlisted for interview. Depending on the number of vacancies available, cut-offs will be decided and candidates will be shortlisted for interview. Prior to the completion of the interview process, scores obtained in the online Main examination will not be shared with the candidates shortlisted for interview. 

                            <p>
                                INTERVIEW : Candidates who have been shortlisted in the main examination for CWE PO/MT-VI will subsequently be called for an Interview to be conducted by the Participating Organisations and coordinated by the Nodal Bank in each State/ UT with the help of IBPS. The total marks allotted for Interview are 100. The minimum qualifying marks in interview will not be less than 40% (35% for SC/ST/OBC/PWD candidates). The weightage (ratio) of CWE (Main exam) and interview will be 80:20 respectively.
                            </p>
                        </div>
                    </div>           
                </div>
            </div>     
        </section>    
        <!--====================================================
                              Table Bank PO MAIN EXAM CONTENT
        ======================================================-->
        <!--***** CONTENT *****-->     
        <section class="what-we-do bg-chathams">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="text-center wow fadeInUp" data-wow-delay="0.1s">IBPS Mains Exam Pattern</h3>
                        <table class="table table-hover">
                            <thead>
                                <tr class="text-white">
                                    <th>Test Name</th>
                                    <th>Qns</th>
                                    <th>Marks</th>
                                    <th>Duration</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-white">
                                    <th scope="row">Reasoning</th>
                                    <td>50</td>
                                    <td>50</td>
                                    <td>40 Minutes</td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row">General Awareness</th>
                                    <td>40</td>
                                    <td>40</td>
                                    <td>20 Minutes</td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row">Quantitative Aptitude</th>
                                    <td>50</td>
                                    <td>50</td>
                                    <td>40 Minutes</td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row">English Language</th>
                                    <td>40</td>
                                    <td>40</td>
                                    <td>30 Minutes</td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row">Computer Knowledge</th>
                                    <td>20</td>
                                    <td>20</td>
                                    <td>10 Minutes</td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row">Total</th>
                                    <td>200</td>
                                    <td>200</td>
                                    <td>140 Minutes</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <div class="small-news-box">
                            <h3 class="wow fadeInUp" data-wow-delay="0.1s">Notification News</h3>
                            <a href="">
                                <div class="right-side-sn-cont">
                                    <img src="img/news/news-9.jpg" alt="" class="img-fluid">
                                    <p>Regarding IBPS MAINS EXAM PATTERN</p>
                                    <small><fa class="fa-watch"> Jan 1, 2019</fa></small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====================================================
                        SBI ONLINE TABLE CONTENT
         ======================================================-->
        <section id="story" class="about-p3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="story-desc">
                            <h3>State Bank of India (Probationary Officers) Exam</h3>
                            <div class="heading-border-light"></div>
                            <p>Phase-I: Preliminary Examination: </p>
                            <p> Preliminary Examination consisting of Objective Tests for 100 marks will be conducted online. This test would be of 1 hour duration consisting of 3 sections as follows:
                            </p>
                        </div>
                    </div>           
                </div>
            </div>     
        </section>   
        <!--====================================================
                 SBI Phase-I: Preliminary Examination:-
          ======================================================-->
        <!--***** CONTENT *****-->     
        <section class="what-we-do bg-gradiant-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="text-center wow fadeInUp" data-wow-delay="0.1s">Phase-I: Preliminary Examination</h3>
                        <table class="table table-hover">
                            <thead>
                                <tr class="text-white">
                                    <th>Test Name</th>
                                    <th>Qns</th>
                                    <th>Marks</th>
                                    <th>Duration</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-white">
                                    <th scope="row">English Language</th>
                                    <td>30</td>
                                    <td>30</td>
                                    <td> </td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row">Quantitative Aptitude</th>
                                    <td>35</td>
                                    <td>35</td>
                                    <td> </td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row">Reasoning Ability</th>
                                    <td>35</td>
                                    <td>35</td>
                                    <td> </td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row"></th>
                                    <td> </td>
                                    <td> </td>
                                    <td>Composite Time of 1 hour</td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row">Total</th>
                                    <td>100</td>
                                    <td>100</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            Candidates have to qualify in each of the three tests by securing passing marks to be decided by the Bank. Adequate number of candidates in each category as decided by the Bank (approximately 20 times the numbers of vacancies subject to availability) will be shortlisted for the Main Examination.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="small-news-box">
                            <h3 class="wow fadeInUp" data-wow-delay="0.1s">Notification News</h3>
                            <a href="">
                                <div class="right-side-sn-cont">
                                    <img src="img/news/news-9.jpg" alt="" class="img-fluid">
                                    <p>Candidates have to qualify in each of the three tests by securing cut-off marks to be decided by IBPS. Adequate number of candidates in each category as decided by IBPS depending upon requirements will be shortlisted for online Main examination.</p>
                                    <small><fa class="fa-watch"> Jan 1, 2019</fa></small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====================================================
               SBI Phase-II: Main Examination:-
        ======================================================-->
        <section id="story" class="about-p3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="story-desc">
                            <h3>Phase – II: Main Examination:</h3>
                            <div class="heading-border-light"></div>
                            <p>
                                Main Examination will consist of Objective Tests for 200 marks and Descriptive Test for 50 marks. Both the Objective and Descriptive Tests will be online. Candidates will have to answer Descriptive Test by typing on the computer. Immediately after completion of Objective Test, Descriptive Test will be administered.
                            </p>
                        </div>
                    </div>           
                </div>
            </div>     
        </section> 
        <!--====================================================
                 SBI Phase – II: Main Examination Table
          ======================================================-->
        <!--***** CONTENT *****-->     
        <section class="what-we-do bg-gradiant-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="text-center wow fadeInUp" data-wow-delay="0.1s">Phase – II: Main Examination:</h3>
                        <p>
                            Main Examination will consist of Objective Tests for 200 marks and Descriptive Test for 50 marks. Both the Objective and Descriptive Tests will be online. Candidates will have to answer Descriptive Test by typing on the computer. Immediately after completion of Objective Test, Descriptive Test will be administered.
                        </p>
                        <p>
                            (i) Objective Test: The Objective Test is of 3 hours duration consists of 4 sections for total 200 marks. The Objective Test will have separate timing for every section. The candidates are required to qualify in each of the tests by securing passing marks, to be decided by the Bank.
                        </p>
                        <table class="table table-hover">
                            <thead>
                                <tr class="text-white">
                                    <th>Sr No</th>
                                    <th>Test Name</th>
                                    <th>Qns.</th>
                                    <th>Marks</th>
                                    <th>Duration</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-white">
                                    <th scope="row">I</th>
                                    <td>Reasoning & Computer Aptitude</td>
                                    <td>45</td>
                                    <td>60</td>
                                    <td>60 Minutes</td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row">II</th>
                                    <td>Data Analysis & Interpretation</td>
                                    <td>35</td>
                                    <td>60</td>
                                    <td>45 Minutes</td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row">III</th>
                                    <td>General/Economy/ Banking Awareness</td>
                                    <td>40</td>
                                    <td>40</td>
                                    <td>35 Minutes </td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row">IV</th>
                                    <td>English Language</td>
                                    <td>35</td>
                                    <td>40</td>
                                    <td>40 Minutes</td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row"></th>
                                    <td>Total</td>
                                    <td>155</td>
                                    <td>200</td>
                                    <td>03 Hours</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            (ii) Descriptive Test: The Descriptive Test is of 30 minutes duration with 50 marks will be a Test of English Language (Letter Writing & Essay). The candidates are required to qualify in the Descriptive Test by securing passing marks, to be decided by the Bank.
                        </p>
                        <p>
                            Descriptive Test paper of only those candidates will be evaluated who have scored qualifying marks in the Objective Tests and are placed adequately high as per total marks in Objective Test.
                        </p>
                        <p>
                            Penalty for Wrong Answers (Applicable to both – Preliminary and Main examination)
                        </p>
                        <p>      
                            There will be penalty for wrong answers marked in the Objective Tests. Each question for which a wrong answer has been given by the candidate, one-fourth of the marks assigned to that question will be deducted as penalty to arrive at corrected score. If a question is left blank, i.e. no answer is marked by the candidate, there will be no penalty for that question
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="small-news-box">
                            <h3 class="wow fadeInUp" data-wow-delay="0.1s">Notification News</h3>
                            <a href="">
                                <div class="right-side-sn-cont">
                                    <img src="img/news/news-9.jpg" alt="" class="img-fluid">
                                    <p> Notification regarding Exam. </p>
                                    <small><fa class="fa-watch"> Jan 1, 2019</fa></small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====================================================
                SBI Phase – III: Group Discussion
        ======================================================-->
        <section id="story" class="about-p3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="story-desc">
                            <h3>Phase – III: Group Discussion (20 marks) & Interview (30 marks)</h3>
                            <div class="heading-border-light"></div>
                            <p>
                                The aggregate marks of candidates qualifying in both the Objective Tests and the Descriptive Test will be arranged in descending order in each category. Adequate number of candidates in each category, as decided by the Bank will be called for Group Discussion and Interview. The qualifying marks in Group Discussion & Interview will be as decided by the Bank.
                            </p>
                            <p>
                                Candidates qualifying for GD & Interview under ‘OBC’ category would be required to submit OBC certificate containing the ‘Non-Creamy Layer’ clause. Candidates not submitting the OBC certificate containing the ‘Non-Creamy Layer’ clause and requesting to be interviewed under General category will not be entertained.
                            </p>
                        </div>
                    </div>           
                </div>
            </div>     
        </section>
        <!--====================================================
                                      FOOTER
        ======================================================--> 
        {% include footer.html %}

        </body>
</html>
