---
layout:
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="Equations - Top IAS PCS UPSC and Banking Civil Servcies Coaching in Dehradun – Classic IAS Academy is the best IAS Academy and Institute for civil services examination in Dehradun for the students">
        <meta name="keywords" content="Top Best IAS PCS UPSC Banking Civil Servcices classes premium affordable  online Coaching college students professional candidates">
        <title>Equations - IAS UPSC PCS BANK CIVIL SERVICES EXAM COACHING INSTITUTE</title>

        {% include head_commons.html %}

    </head>
    <body id="page-top">
        {% include header.html %}
 
        <!--====================================================
                            HOME-P
         ======================================================-->
        <div id="home-p" class="home-p pages-head2 text-center">
            <div class="container">
                <h1 class="wow fadeInUp" data-wow-delay="0.1s">Equations IAS Welcomes you</h1>
                <p>CAT Preparation in Dehradun</p>
            </div><!--/end container-->
        </div> 
        <!--====================================================
                           ABOUT-P3 CAT
         ======================================================--> 
        <section id="story">
            <div class="container">
                <div class="row title-bar">
                    <div class="col-md-12">
                        <h1 class="wow fadeInUp">Our Success Tranformation Story</h1>
                        <div class="heading-border-large"></div> 
                    </div>
                </div>
            </div>  
            <div class="container-fluid">
                <div class="row" >
                    <div class="col-md-6" >
                        <div class="story-himg" >
                            <img src="img/image-4.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="story-desc">
                            <h3>CAT 2019 Highlights</h3>
                            <div class="heading-border-light-off"></div> 
                            <p>
                              Welcome to Equations IAS, Founded in 2009, Equations IAS is one of the Best IAS Academy & Top IAS coaching institutes in Dehradun that offers quality education services for UPSC Civil Services Exams with highly experienced faculties. We believe in the best, hence, being an institute of excellence we provide the best coaching for IAS in region.
                              Equations IAS is known for its reputation in innovative competitive Education. The mission is to lay supreme emphasis on providing the most and sophisticated learning environment and value based system. The faculty & management possess a high degree of integrity and knowledge that churns the students into efficient and effective human beings. “Knowledge is important but knowing how to apply it, is critical.” Equations IAS is making an honest Endeavour in direction by providing high quality value –based education (Expertise, Application, Learning, Nurturing, Preparing), Quality course curriculum, Sound Teaching & Pedagogy.
                            </p>
                        </div>
                    </div>
                </div>
            </div>    
        </section>
      <!--====================================================
               ABOUT CAT Notifications Content - 1
       ======================================================-->
        <section id="about" class="about"> 
            <!-- About right side withBG parallax -->
            <div class="row">
            <div class="col-md-12 bg-starship">
                <div class="about-content-box wow fadeInUp" data-wow-delay="0.3s">
                    <i class="fa fa-snowflake-o"></i> 
                    <!--   <img src="img/news/upsc-2.jpg" class="img-fluid" alt="..."> -->
                   </div>         
            <div class ="row">
                 <div class="col-md-8">
                <h3 class="text-center wow fadeInUp" data-wow-delay="0.1s" style="color:#f8f9fa;">CAT 2019 Highlights</h3>                     
                 <table class="table table-hover">
                            <thead>
                                <tr class="text-white">
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-white">
                                    <td></td>
                                    <td></td>
                                    <td>Conducting body</td>
                                    <td>Indian Institute of Management (IIM)</td>
                                    <td></td>
                                </tr>
                                <tr class="text-white">
                                    <td></td>
                                    <td></td>
                                    <td>Mode of CAT 2019</td>
                                    <td>Online (computer based test)</td>
                                    <td></td>
                                </tr>
                                <tr class="text-white">
                                    <td></td>
                                    <td></td>
                                    <td>Official website</td>
                                     <td>www.iimcat.ac.in</td>
                                    <td></td>
                                </tr>
				<tr class="text-white">
                                    <td></td>
                                    <td></td>
                                    <td>Eligibility</td>
                                    <td>Graduation degree with 50% aggregate</td>
                                    <td></td>
                                </tr>
				<tr class="text-white">
                                    <td></td>
                                    <td></td>
                                    <td>Courses offered</td>
                                    <td>Admission to MBA/ PGDM courses</td>
                                    <td></td>
                                </tr>
				<tr class="text-white">
                                    <td></td>
                                    <td></td>
                                    <td>Official Notification</td>
                                    <td>July 2019</td>
                                    <td></td>
                                </tr>
			         <tr class="text-white">
                                     <td></td>
                                     <td></td>
                                     <td>Date of examination</td>
                                     <td>December 2019</td>
                                     <td></td>
                                </tr>
			         <tr class="text-white">
                                    <td></td>
                                    <td></td>
                                    <td>Duration of CAT 2019</td>
                                    <td>3 hours (180 minutes)</td>
                                    <td></td>
                                 </tr>
			          <tr class="text-white">
                                    <td></td>
                                    <td></td>
                                    <td>Sections</td>
                                    <td>3 (Quantitative Ability, Verbal and Reading Comprehension, 
                                        and Data Interpretation and Logical Reasoning)
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                  </div>
               <div class="col-md-4">
                        <div class="small-news-box">
                            <h3 class="wow fadeInUp" data-wow-delay="0.1s" style="color:#f8f9fa;">Notification News for CAT</h3>
                            <a href="">
                                <div class="right-side-sn-cont">
                                    <img src="img/news/news-9.jpg" alt="" class="img-fluid">
                                    <p>CAT 2019 News.</p>
                                    <small><fa class="fa-watch"> Jan 1, 2019</fa></small>
                                </div>
                            </a>
                        </div>
                    </div>
	    </div>
         </div>
       </div>        
        </section>
        <!--====================================================
                             ABOUT Content-2 header
        ======================================================-->
        <section id="story" class="about-p3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="story-desc">
                            <h3>CAT 2019 Exam Dates</h3>
                            <div class="heading-border-light-off"></div>
                            <p>We provide CAT Coaching in Dehradun by highly experienced team of Uttarakhand. The Team has been credited with plenty of selections. The team consists of faculties with 15 – 22 years experience.</p>
                            <p>Fresh Batches for CAT are available.</p>
                        </div>
                    </div>           
                </div>
            </div>     
        </section>
        <!--====================================================
                  ABOUT CAT Notifications Content - 2
          ======================================================-->
        <section id="about" class="about"> 
            <div class="col-md-12 bg-chathams">
                <div class="about-content-box wow fadeInUp" data-wow-delay="0.5s">
                    <i class="fa fa-circle-o-notch"></i>
                    <h5>CAT 2019 Exam Dates</h5>
                    <p class="desc">
                    </p>  
                </div>
                <div class ="row">
                 <div class="col-md-8">
                <h3 class="text-center wow fadeInUp" data-wow-delay="0.1s" style="color:#f8f9fa;">CAT 2019 Exam Dates</h3>                     
                 <table class="table table-hover">
                            <thead>
                            </thead>
                            <tbody>
                                <tr class="text-white">
                                    <td></td>
                                    <td></td>
                                    <td>CAT 2019 Official Notification</td>
                                    <td>July 29, 2019</td>
                                    <td></td>
                                </tr>
                                <tr class="text-white">
                                    <td></td>
                                    <td></td>
                                    <td>CAT 2019 Application Form</td>
                                    <td>August 8, 2019</td>
                                    <td></td>
                                </tr>
                                <tr class="text-white">
                                    <td></td>
                                    <td></td>
                                    <td>CAT 2019 Form Correction Window</td>
                                     <td>September 27- September 30, 2019</td>
                                    <td></td>
                                </tr>
				<tr class="text-white">
                                    <td></td>
                                    <td></td>
                                    <td>Release of CAT Admit Card 2019</td>
                                    <td>October 24 – November 25, 2019 </td>
                                    <td></td>
                                </tr>
				<tr class="text-white">
                                    <td></td>
                                    <td></td>
                                    <td>CAT 2019 Exam Date</td>
                                    <td>November 25, 2019 </td>
                                    <td></td>
                                </tr>
				<tr class="text-white">
                                    <td></td>
                                    <td></td>
                                    <td>CAT Result Date 2019</td>
                                    <td>Second Week of January 2019</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                 </div>
               <div class="col-md-4">
                        <div class="small-news-box">
                            <h3 class="wow fadeInUp" data-wow-delay="0.1s" style="color:#f8f9fa;">Notification News for CAT</h3>
                            <a href="">
                                <div class="right-side-sn-cont">
                                    <img src="img/news/news-9.jpg" alt="" class="img-fluid">
                                    <p>CAT 2019 News.</p>
                                    <small><fa class="fa-watch"> Jan 1, 2019</fa></small>
                                </div>
                            </a>
                        </div>
                    </div>
	      </div>
            </div>
        </section> 
       <!--====================================================
                             ABOUT Content-2 header
        ======================================================-->
        <section id="story" class="about-p3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="story-desc">
                            <h3>CAT 2019 Eligibility</h3>
                            <div class="heading-border-light-col"></div>
                            <h5>Age Criteria</h5> 
                            <div class="heading-border-light-small-new"></div>
                            <p>There will be no age restriction for taking the CAT examination.</p>
                            <h5>Qualification Criteria</h5>
                            <div class="heading-border-light-col-lat"></div>
                             <p>Qualifying Exam: Candidates must have a bachelor’s or its equivalent degree.</p>
                             <p>Minimum Marks: Pass the above exam with at least 50% marks or equivalent CGPA (45% marks for SC/ST/PwD categories).</p>
                             <p>Appearing candidates of the final year of Bachelor’s degree/equivalent qualification examination can also apply.</p>
                             <p>Candidates, those possess an equivalent examination recognized by the MHRD, Government of India (including AMICE of the Institution of Civil Engineers (India) as an equivalent qualification) can also apply.</p>
                        </div>
                    </div>           
                </div>
            </div>     
        </section>
     <!--====================================================
                ABOUT CAT Notifications Content -1 
        ======================================================-->
        <section id="about" class="about"> 
            <!-- About right side withBG parallax -->
            <div class="container-fluid">
                <div class="row">   
                    <div class="col-md-12 bg-matisse">
                        <div class="about-content-box wow fadeInUp" data-wow-delay="0.7s">
                            <i class="fa fa-hourglass-o"></i>
                            <h5>CAT 2019 Application Form</h5>
                            <p class="desc">
                                CAT 2019 Application Form will be available from the second week of August 2019. Participants will be required to fill up general details like personal information and academic qualifications. The application forms can be filled via online mode only on the official website i.e. iimcat.ac.in. The application process consists of 3 steps
                            </p>
                            <h5>CAT 2019 Exam Pattern</h5>
                            <p class="desc">
                                • Exam Mode: The examination will be digital or Computer Based Test (CBT).</p>
                            <p> • Session: The examination will be held in two sessions.</p>
                            <p> • Duration: The duration of the examination will be 180 minutes (3 hours).</p>
                            <p> • Type of Questions: In the examination, objective & subjective type questions will be asked.</p>
                            <p> • Number of Questions: Total 100 questions will be asked in the examination.</p>
                            <p> • Marking Scheme: For the correct answer, three marks will be allotted to the candidates.</p>
                            <p> • Negative Marking: The will be no negative marks for subjective type questions, For MCQs type question, one mark will be deducted for the wrong answer.</p>
                        </div>
                        <table class="table table-hover">
                            <thead>
                            </thead>
                            <tbody>
                                <tr class="text-white">
                                    <td>Section I</td>
                                    <td>Verbal Ability and Reading Comprehension</td>
                                    <td>60 minutes</td>
                                    <td>34</td>
                                </tr>
                              <tr class="text-white">
                                    <td>Section II</td>
                                    <td>Data Interpretation and Logical Reasoning</td>
                                    <td>60 minutes</td>
                                    <td>32</td>
                                </tr>
				<tr class="text-white">
                                    <td>Section III</td>
                                    <td>Quantitative Ability</td>
                                    <td>60 minutes</td>
                                    <td>34</td>
                                </tr>
				<tr class="text-white">
                                    <td>Total</td>
                                    <td>180</td>
                                    <td>100</td>
                                    <td>300</td>
                                </tr>	
                            </tbody>
                        </table>
                        <div class="text-white">
                            <h3 style="color:#f8f9fa;">CAT 2019 Syllabus</h3>
                            <div class="heading-border-light-col-white"></div>
                            <p style="color:#f8f9fa;">
                               There is no set syllabus for CAT 2019 but we can determine the syllabus based on the analysis of previous exam patterns. Questions asked in the exam are up to 10+2 level covering a multitude of topics. The detailed CAT 2019 Syllabus is given below:
                            </p>
                            <table class="table table-hover">
                            <thead>
                            </thead>
                            <tbody>
                                <tr class="text-white">
                                    <td>I</td>
                                    <td>Verbal Ability and Reading Comprehension</td>
                                    <td>Verbal reasoning, antonyms and synonyms,                 analogies and reverse analogies, sentence correction, facts inference judgments, critical reasoning, fill in the blanks, syllogism, summary questions, and passage based questions</td>
                                </tr>
                              <tr class="text-white">
                                    <td>II</td>
                                    <td>Data Interpretation</td>
                                    <td>Area graph, Venn diagram, Line and Pie Charts, Column and Bar graphs, Caselets and Tables</td>
                              </tr>
                               <tr class="text-white">
                                    <td>III</td>
                                    <td>Logical Reasoning</td>
                                    <td>Number and letter series, Syllogism, Clocks, calendars and cubes, Directions, Blood relations, Binary Logic, Coding-decoding, Logical sequence, Matrix and linear arrangement</td>                             
                               </tr>
                               <tr class="text-white">
                                    <td>IV</td>
                                    <td>Quantitative Ability</td>
                                    <td>Number system, Geometry, Algebra, Permutation and Combination, Mixtures and Alligations, Ratio & Proportion, Logarithm, Time & Work, Functions, Trigonometry, Coordinate Geometry and Mensuration</td>
                              </tr>
                            </tbody>
                        </table> 
                     </div>
                </div> 
                </div>
            </div>       
        </section>        
      <!--====================================================
                     ABOUT Content-2 header
      ======================================================-->
        <section id="story" class="about-p3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="story-desc">
                            <h3>CAT 2019 Selection Procedure</h3>
                            <div class="heading-border-light-big"></div>
                             <p>All the participating institutes have their own short listing criteria for admission. The basic norm is to clear the sectional and overall CAT 2019 Cut Off of the respective institutes. Applicants who fulfill such criteria will move forward to the next stage of selection process.</p>
                             <p>
                                 The CAT Selection Procedure followed by IIMs consists of Group Discussion (GD), Written Ability Test (WAT) and Personal Interview (PI) rounds. These are explained briefly as follows-
                             </p>
                             <p>
                                •Candidates shortlisted based on their CAT scores have to appear for GD, WAT and PI rounds held by the IIMs or other b-schools.
                             </p>
                             <p>
                                •In the WAT round, students have to write an essay on the topic provided by the institute.
                             </p>
                             <p>
                                •The topic can be related to socio-political issues, current affairs or some idea. The essay should generally be completed within 30 minutes.
                             </p>
                             <p>
                               •For the GD round, applicants are divided into groups of 8-10 members wherein, they are required to discuss about the given topic.  
                             </p>
                             <p>
                                •PI is the final round wherein aspirants are interviewed by a panel of 4-8 judges. This panel assesses the profile of individuals to see if he is fit for the chosen course. 
                             </p>
                             <p>
                               Many top business schools follow a similar selection process. After all the rounds are conducted the institutes publish the final merit list. This list is created after considering all rounds of selection and CAT 2019 scores. Candidates are offered admission to various courses based on this merit list.  
                             </p>
                        </div>
                    </div>           
                </div>
            </div>     
        </section>
        
        {% include footer.html %}
  
    </body>
</html>
