---
layout:
---

<!DOCTYPE html>
<html lang="en">
    <head>
       
        <meta name="description" content="Equations - Top IAS PCS UPSC and Banking Civil Servcies Coaching in Dehradun – Classic IAS Academy is the best IAS Academy and Institute for civil services examination in Dehradun for the students">
        <meta name="keywords" content="Top Best IAS PCS UPSC Banking Civil Servcices classes premium affordable  online Coaching college students professional candidates">
        <title>Equations - IAS UPSC PCS BANK CIVIL SERVICES EXAM COACHING INSTITUTE</title>

        {% include head_commons.html %}

    </head>
    <body id="page-top">
        {% include header.html %}
 
        <!--====================================================
                               HOME-P
        ======================================================-->
        <div id="home-p" class="home-p pages-head2 text-center">
            <div class="container">
                <h1 class="wow fadeInUp" data-wow-delay="0.1s">Equations IAS Classes</h1>
                <p>Our Services</p>
            </div><!--/end container-->
        </div> 
        <section id="story">
            <div class="container">
                <div class="row title-bar">
                    <div class="col-md-12">
                        <h1 class="wow fadeInUp">Our Success Tranformation Story</h1>
                        <div class="heading-border-large"></div> 
                    </div>
                </div>
            </div>  
            <div class="container-fluid">
                <div class="row" >
                    <div class="col-md-6" >
                        <div class="story-himg" >
                            <img src="img/image-4.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="story-desc">
                            <h3>How to grow with Equations IAS</h3>
                            <div class="heading-border-light"></div> 
                            <p>
                                Welcome to Equations IAS,  Founded in 2009, Equations IAS is one of the Best IAS Academy & Top IAS coaching institutes in Dehradun that offers quality education services for UPSC Civil Services Exams with highly experienced faculties. We believe in the best, hence, being an institute of excellence we provide the best coaching for IAS in region. 
                            </p>
                            <p>
                                Equations IAS is known for its reputation in innovative competitive Education. The mission is to lay supreme emphasis on providing the most and sophisticated learning environment and value based system. The faculty & management possess a high degree of integrity and knowledge that churns the students into efficient and effective human beings. “Knowledge is important but knowing how to apply it, is critical.”  Equations IAS is making an honest Endeavour in direction by providing high quality value –based education (Expertise, Application, Learning, Nurturing, Preparing), Quality course curriculum, Sound Teaching & Pedagogy.     
                            </p>
                            <p class="text-right" style="font-style: italic; font-weight: 700;"><a href="#">Equations IAS</a></p>
                            <div class="title-but"><button class="btn btn-general btn-green" role="button">Read More</button></div>
                        </div>
                    </div>
                </div>
            </div>    
        </section>         
        
        {% include footer.html %}

    </body>
</html>
