---
layout:
---

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta name="description" content="Equations - Top IAS PCS UPSC and Banking Civil Servcies Coaching in Dehradun – Classic IAS Academy is the best IAS Academy and Institute for civil services examination in Dehradun for the students">
      <meta name="keywords" content="Top Best IAS PCS UPSC Banking Civil Servcices classes premium affordable  online Coaching college students professional candidates">
      <title>Equations - IAS PCS UPSC BANK CIVIL SERVICES EXAM COACHING INSTITUTE</title>

      {% include head_commons.html %}

  </head>
 <body id="page-top">
  {% include header.html %}
   
<!--====================================================
                       HOME-P
======================================================-->
    <div id="home-p" class="home-p pages-head4 text-center">
      <div class="container">
        <h1 class="wow fadeInUp" data-wow-delay="0.1s">Contact Us</h1>
      </div><!--/end container-->
    </div> 

<!--====================================================
                        CONTACT-P1  
======================================================--> 
    <section id="contact-p1" class="contact-p1">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="contact-p1-cont">
               <h3>Contact our experienced team</h3>
              <div class="heading-border-light"></div> 
              <p>
                  EQUATIONS IAS is a hub for empowering excellence in Dehradun from past 10 successful years.
              </p>
              <p>
                  It provides the best guidance and learning for the prestigious government exams focusing IAS, PCS, SSC and Banking. 
                  It endures the learning and is best known for its innovative, adaptive approach of teaching methodology. 
                  It let its students free for queries anytime so they can configure learning more and more. 
              </p> 
              <p>
                  Equations has been dominating over these years with its more than 715 final selections in various government exams, though it quotes many more achievements to come in future endeavors. 
                  The faculty and management possesses a high degree of integrity, knowledge and support that boosts the student’s moral to become more potential and self reliable.
              </p>
              <p>
                  “Knowledge is important; but knowing how to apply it, is critical without proper guidance.”
              </p>
            </div>
          </div>
          <div class="col-md-4"> 
            <div class="contact-p1-cont2"> 
              <address class="address-details-f">
                  Equations IAS,<br> 
                  1st floor, Ambika Complex,<br>
                  Ballupur Chowk exactly, GMS Rd.<br>
                  Dehradun, Uttarakhand (India) <br>
                Phone: +91 - 8266010605<br>
                Email: <a href="mailto:info@equations.co.in" class="">info@equations.co.in</a>
              </address>
              <ul class="list-inline social-icon-f top-data">
                <li><a href="#" target="_empty"><i class="fa top-social fa-facebook" style="height: 35px; width:35px; line-height: 35px;"></i></a></li>
                <li><a href="#" target="_empty"><i class="fa top-social fa-twitter" style="height: 35px; width:35px; line-height: 35px;"></i></a></li>
                <li><a href="#" target="_empty"><i class="fa top-social fa-google-plus" style="height: 35px; width:35px; line-height: 35px;"></i></a></li> 
              </ul>
            </div>
          </div>  
        </div>
      </div>
    </section>
<!--====================================================
                        CONTACT-P2 
======================================================--> 
    <service class="contact-p2" id="contact-p2">
      <div class="container">
          <div class="row con-form">
            <div class="col-md-3">
              <input type="text" name="full-name" placeholder="Full Name" class="form-control">
            </div>
              <div class="col-md-3">
                  <input type="text" name="email" placeholder="Email Id" class="form-control">
              </div>
              <div class="col-md-3">
                  <input type="text" name="mobile-no" placeholder="Mobile No" class="form-control">
              </div>  
              <div class="col-md-3">
                  <input type="text" name="subject" placeholder="Target Exam" class="form-control">
              </div>
            <div class="col-md-12"><textarea name="" id=""></textarea></div>
            <div class="col-md-12 sub-but"><button class="btn btn-general btn-white" role="button">Send</button></div>
          </div>
      </div>
    </service>

<!--====================================================
                       MAP
======================================================--> 
    <section id="contact-add">
      <div id="map">
        <div class="map-responsive">
         <!--  <iframe src="https://www.google.com/maps/place/Equations+IAS/@30.3329794,78.0087986,17z/data=!4m13!1m7!3m6!1s0x39092a04fd840c5b:0x8824c50e1b82e75c!2sBallupur+Chowk,+Ballupur,+Dehradun,+Uttarakhand!3b1!8m2!3d30.3331447!4d78.0113332!3m4!1s0x0:0x962a9ea59260d42b!8m2!3d30.3328773!4d78.0105961" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
           -->
           <iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=Equations%20IAS%2C%20Ambika%20Complex%2C%20General%20Mahadev%20Singh%20Rd%2C%20Ballupur%20Chowk%2C%20Mohit%20Nagar%2C%20Dehradun%2C%20Uttarakhand%20248006+(Equation%20IAS)&ie=UTF8&t=&z=15&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/en/journey-planner.htm">www.mapsdirections.info</a></iframe>
         </div>
      </div> 
    </section>

    {% include footer.html %}

  </body>
</html>
