---
layout:
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="Equations - Top IAS PCS UPSC and Banking Civil Servcies Coaching in Dehradun – Classic IAS Academy is the best IAS Academy and Institute for civil services examination in Dehradun for the students">
        <meta name="keywords" content="Top Best IAS PCS UPSC Banking Civil Servcices classes premium affordable  online Coaching college students professional candidates">

        <title>Equations - IAS UPSC PCS BANK CIVIL SERVICES EXAM COACHING INSTITUTE</title>

        {% include head_commons.html %}

    </head>
    <body id="page-top">
        {% include header.html %}
 
     <!--====================================================
                     HOME-P GRE
     ======================================================-->
        <div id="home-p" class="home-p pages-head1 text-center">
            <div class="container">
                <h1 class="wow fadeInUp" data-wow-delay="0.1s">Equations IAS Welcomes you</h1>
                <p>GRE Coaching in Dehradun </p>
            </div><!--/end container-->
        </div>   
    <!--====================================================
                     ABOUT-P3
    ======================================================-->
     <section id="story">
            <div class="container">
                <div class="row title-bar">
                    <div class="col-md-12">
                        <h1 class="wow fadeInUp">Our Success Tranformation Story</h1>
                        <div class="heading-border-large"></div> 
                    </div>
                </div>
            </div>  
            <div class="container-fluid">
                <div class="row" >
                    <div class="col-md-6" >
                        <div class="story-himg" >
                            <img src="img/image-4.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="story-desc">
                            <h3>GRE 2019 Highlights</h3>
                            <div class="heading-border-light-off"></div> 
                            <p>
                              Welcome to Equations IAS, Founded in 2009, Equations IAS is one of the Best CAT/GRE coaching institutes in Dehradun that offers quality education services for CAT/GRE with highly experienced faculties. We believe in the best, hence, being an institute of excellence we provide the best coaching for CAT/GRE in the region. Equations IAS is known for its reputation in innovative competitive Education. The mission is to lay supreme emphasis on providing the most and sophisticated learning environment and value based system. The faculty & management possess a high degree of integrity and knowledge that churns the students into efficient and effective human beings. “Knowledge is important but knowing how to apply it, is critical.” Equations IAS is making an honest Endeavour in direction by providing high quality value –based education (Expertise, Application, Learning, Nurturing, Preparing), Quality course curriculum, Sound Teaching & Pedagogy.
                            </p>
                        </div>
                    </div>
                </div>
            </div>    
        </section>
     <!--====================================================
                     ABOUT-GRE 
      ======================================================-->
    <section id="about" class="about"> 
            <div class="col-md-12 bg-chathams">
                <div class="about-content-box wow fadeInUp" data-wow-delay="0.5s">
                    <i class="fa fa-circle-o-notch"></i>
                    <h5>GRE- Graduate Record Examinations</h5>
                            <p class="desc">
                                • GRE is the Graduate Record Examinations, conducted by ETS (Educational Testing Services).</p>
                            <p> • GRE score is required for application to graduation (MS) and research (Ph.D.) programs across the universities of the world.</p>
                            <p> • The GRE score is accepted by most universities of USA, and many a top university in UK, Singapore, Germany, Australia and in most of the countries.</p>
                            <p> • GRE is conducted throughout the year, except on Sundays and National Holidays.</p>
                            <p> • GRE score is valid for 5 years. However, the colleges prefer score within last three years.</p>
                            <p> • You can send the GRE score to 4 Universities free of cost (included in the GRE fees).</p>
                            <p> • Ideal time to take GRE is at least one year prior to college intake dates. June-July of the year prior to admissions is ideal for you to finish GRE, so that if your performance is not up to the mark, you still have time till September to take the second shot.</p>
                    <h5>Why GRE?</h5>
                        <p class="desc"> • If you do well in GRE, you gain confidence that you will do well ahead in the course that you get chosen for.</p>
                        <p> •GRE gives you the liberty to send only those scores to schools that you want to. If you do not perform well, you can re-take the exam and send those scores that you are satisfied with.</p>
                        <p> •Interestingly, GRE is the only test that lets you skip questions within a section, go back and change answers. This helps the aspirant to optimally use the time and maximize scores.</p>
                    <h5>What does GRE test you on?</h5>
                        <p class="desc">
                            The GRE revised General Test measures analytical writing, verbal and quantitative skills that have been acquired over a long period of time and that are not related to any specific field of study.
                        </p>
                        <p>
                            •Analytical Writing - Measures critical thinking and analytical writing skills, evaluates ability to effectively articulate and support complex ideas.
                        </p>
                        <p>
                            •Verbal Reasoning - Measures your ability to analyze and evaluate written material and synthesize information obtained from it, analyze relationships among component parts of sentences and recognize relationships among words and concepts.
                        </p> 
                        <p>
                            •Quantitative Reasoning - Measures basic mathematical skills, understanding the fundamental concepts of arithmetic, algebra, geometry and modern math and your ability to reason and solve problems. It also measures you skills on data analysis.
                        </p>
                </div>  
                <div class ="row">
                 <div class="col-md-8">
                <h3 class="text-center wow fadeInUp" data-wow-delay="0.1s" style="color:#f8f9fa;">Test Pattern of GRE</h3>                     
                <p class="desc" style="color:#fff">
                The overall testing time for the computer-delivered GRE is about three hours and forty-five minutes. There are six sections with a 10-minute break following the third section.
               </p> 
            <table class="table table-hover">
                            <thead>
                                <tr class="text-white">
                                    <th>Sections</th>
                                    <th>Number of Questions/Score Range</th>
                                    <th>Alloted Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-white">
                                    <td>Analytical Writing 
                                        (One section with two separately timed tasks)
                                    </td>
                                    <td>One "Analyze an Issue" task and one "Analyze an Argument" task 
                                        Score: 0 - 6, in half point increments
                                    </td>
                                    <td>30 minutes per task</td>
                                </tr>
                                <tr class="text-white">
                                    <td>Verbal Reasoning 
                                        (Two sections)
                                    </td>
                                    <td>20 questions per section 
                                        Score: 130 - 170 in total
                                    </td>
                                    <td>30 minutes per section</td>
                                </tr>
                                <tr class="text-white">
                                    <td>Quantitative Reasoning 
                                        (Two sections)
                                    </td>
                                    <td>20 questions per section 
                                        Score: 130 - 170 in total
                                    </td>
                                    <td>35 minutes per section</td>
                                </tr>
                                  <tr class="text-white">
                                    <td>Un-scored*
                                    </td>
                                    <td>Varies
                                    </td>
                                    <td>Varies</td>
                                </tr>
                                  <tr class="text-white">
                                    <td>Research**
                                    </td>
                                    <td>Varies
                                    </td>
                                    <td>Varies</td>
                                </tr>
                             </tbody>
                        </table>
                 <p class="desc" style="color:#fff">
                *An unidentified un-scored section that does not count toward your score may be included and may appear in any order after the Analytical Writing section. Questions in the un-scored section are being tried out either for possible use in future tests or to ensure that scores on new editions of the test are comparable to scores from earlier editions.
                 </p>
                 <p class="desc" style="color:#fff">
                 **An identified research section that does not count toward your score may be included in place of the un-scored section. The research section will always appear at the end of the test. Questions in this section are included for ETS research purposes.
                 </p>
                 <p class="desc" style="color:#fff">
                 Note: The Analytical Writing section will always be first. The Verbal Reasoning, Quantitative Reasoning and unidentified/un-scored sections may appear in any order; therefore, you should treat each section as if it counts toward your score.
                  <p class="desc" style="color:#fff">
                  The GRE revised General test is administered as a computer adaptive test, but not all sections are adaptive. Each of the verbal and quantitative assessment portions of the exam has two sections. For both of these assessments, the first part is not computer adaptive, while the second is
                  </p>
                 </div>
               <div class="col-md-4">
                        <div class="small-news-box">
                            <h3 class="wow fadeInUp" data-wow-delay="0.1s" style="color:#f8f9fa;">Notification News for GRE</h3>
                            <a href="">
                                <div class="right-side-sn-cont">
                                    <img src="img/news/news-9.jpg" alt="" class="img-fluid">
                                    <p>GRE 2019 News.</p>
                                    <small><fa class="fa-watch"> Jan 1, 2019</fa></small>
                                </div>
                            </a>
                        </div>
                    </div>
                      <div class="row">
                    <div class="col-md-12">
                    <h5 style="color:#fff">Test Design Features</h5>
                    <p class="desc" style="color:#fff">The advanced adaptive design of the GRE revised General Test allows you to freely move forward and backward throughout an entire section. Specific features include:</p>
                        <p class="desc" style="color:#fff">
                                •Preview and review capabilities within a section </p>
                        <p class="desc" style="color:#fff"> •"Mark" and "Review" features to tag questions, so you can skip them and return later if you have time remaining in the section.</p>
                        <p class="desc" style="color:#fff">
                                •The ability to change/edit answers within a section
                            </p>
                        <p class="desc" style="color:#fff">
                                •An on-screen calculator for the Quantitative Reasoning section
                            </p>
                        <p class="desc" style="color:#fff">
                             You need to register and create a ‘My GRE Account’ on www.ets.org for the GRE test or to view your scores.
                            </p>
                    </div>
                </div>  
	      </div>
            </div>
        </section> 
        
        {% include footer.html %}

    </body>
</html>
