---
layout:
---

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta name="description" content="Equations - Top IAS PCS UPSC and Banking Civil Servcies Coaching in Dehradun – Classic IAS Academy is the best IAS Academy and Institute for civil services examination in Dehradun for the students">
        <meta name="keywords" content="Top Best IAS PCS UPSC Banking Civil Servcices classes premium affordable  online Coaching college students professional candidates">

        <title>Equations - IAS UPSC PCS BANK CIVIL SERVICES EXAM COACHING INSTITUTE</title>

        {% include head_commons.html %}

    </head>
    <body id="page-top">
        {% include header.html %}
    
        <!--====================================================
                                       HOME-P IAS
        ======================================================-->
        <div id="home-p" class="home-p pages-head1 text-center">
            <div class="container">
                <h1 class="wow fadeInUp" data-wow-delay="0.1s">UPSC | IAS | PCS Coaching</h1>
                <p> </p>
            </div><!--/end container-->
        </div>       
        <!--====================================================
                                ABOUT
        ======================================================-->
        <section id="about" class="about">

        <!--====================================================
                             ABOUT-P3
        ======================================================-->
        <section id="story" class="about-p3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="story-desc">
                            <p>                            
                                Equations - IAS provides the best guidance and learning for the prestigious government exams focusing UPSC IAS, PCS, SSC and Banking.
                                We provide UPSC Coaching by highly experienced team of Uttarakhand. The team consists of faculties with 15 – 22 years experience.
                            </p>
                            <p>Fresh Batches for UPSC are available.</p>

                            <div>
                                <h5>Online Course details</h5>

                                <ul class="list-group">
                                    <li class="list-group-item"> 1000+ Videos</li>
                                    <li class="list-group-item"> 100+ PDF files for various topics</li>
                                    <li class="list-group-item">100+ Chapterwise, Section wise, Full Length Tests</li>
                                    <li class="list-group-item">Online Course Fee Rs 7500</li>
                                    <li class="list-group-item">
                                        <button type="button" class="btn btn-link"><a href="https://www.youtube.com/channel/UC9Fj2SJf0911ZBj_bxTo8aQ" target="_blank">
                                            Watch limited free lectures
                                        </a></button>
                                    </li>
                                    <li class="list-group-item">Watch all lectures &nbsp;&nbsp;
                                        <button type="button" class="btn btn-danger">
                                            <a href="http://payments.course-today.com/eyJjb3Vyc2VJZCI6MjAxMTksInR1dG9ySWQiOjI0NDIzfQ==" target="_blank" style="color:white">Buy Now</a>
                                        </button>
                                    </li>
                                  </ul>
                            </div>

                            <br>
                            <div>
                                <h5>Classroom Coaching in Dehradun</h5>
                                <p>Call us at: +91 8266010605</p>
                            </div>

                        </div>
                        
                    </div>           
                </div>
            </div>     
        </section>

            <!-- About right side withBG parallax -->
            <div class="container-fluid">
                <div class="row"> 
                    <div class="col-md-4 bg-starship">
                        <div class="about-content-box wow fadeInUp" data-wow-delay="0.3s">
                            <i class="fa fa-snowflake-o"></i> 
                            <!--   <img src="img/news/upsc-2.jpg" class="img-fluid" alt="..."> -->
                            <h5>IAS Coaching</h5>
                            <p class="desc">
                                Equations -IAS provide complete guidance for prelims, mains and Interviews by highly experienced team of Uttarakhand. The Team has been credited with more than 110 final selections in IAS/PCS and other Administrative jobs. The team consists of faculties with 15 – 22 years experience. The Team has been guiding the students for the last 18 years. CSAT, General Studies, History, Public Administration, Geography and Sociology engages a group of 8 outstanding teachers each one being the best known master of his area. Fresh Batches for IAS are available.</p>
                        </div>
                    </div> 
                    <div class="col-md-4 bg-chathams">
                        <div class="about-content-box wow fadeInUp" data-wow-delay="0.5s">
                            <i class="fa fa-circle-o-notch"></i>
                            <h5>IAS/PCS(Pre - Mains)</h5>
                            <p class="desc">
                                Here is a complete list of subjects for IAS/UPSC exams as per the UPSC Syllabus. IAS Examination, also called Indian Administrative Services Examination is one of the civil services among others and is considered toughest and prestigious examinations conducted in India. Hence to face this challenge that gives a chance to get most eminent designation offered by Indian Government a comprehensive look throughout the syllabus is essential, especially for those candidates who are going to appear for UPSC exams or IAS for the first time. The IAS Syllabus and other services like Income Tax and the IPS is the same, as it is considered as single exam and conducted by UPSC, which also sets the syllabus.</p>
                        </div>
                    </div> 
                    <div class="col-md-4 bg-matisse">
                        <div class="about-content-box wow fadeInUp" data-wow-delay="0.7s">
                            <i class="fa fa-hourglass-o"></i>
                            <h5>IAS Hub Platform</h5>
                            <p class="desc">
                                EQUATIONS IAS is a hub for empowering excellence in Dehradun from past 10 successful years. It provides the best guidance and learning for the prestigious government exams focusing IAS, PCS, SSC and Banking. It endures the learning and is best known for its innovative, adaptive approach of teaching methodology. It let its students free for queries anytime so they can configure learning more and more. Equations has been dominating over these years with its more than 715 final selections in various government exams, though it quotes many more achievements to come in future endeavors. 
                                “Knowledge is important; but knowing how to apply it, is critical without proper guidance  
                        </div>
                    </div> 
                </div> 
            </div>       
        </section> 
        <!--====================================================
                              FINANCIAL-P6
        ======================================================-->
        <section id="financial-p6" class="financial-p6 ias-6"> 
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="financial-p6-img">
                            <img src="img/news/upsc-main2.jpg" class="img-fluid wow fadeInUp" data-wow-delay="0.1s" alt="...">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="financial-p6-cont">
                            <h2 class="wow fadeInUp">Equations IAS UPSC</h2>
                            <div class="heading-border-light-sm"></div>
                            <p> "EQUATIONS IAS is a hub for empowering excellence in Dehradun from past 10 successful years. It provides the best guidance and learning for the prestigious government exams focusing IAS, PCS, SSC and Banking. It endures the learning and is best known for its innovative, adaptive approach of teaching methodology."
                            </p>  
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        <!--====================================================
                    Table IAS Content
        ======================================================-->
        <!--***** CONTENT *****-->     
        <section class="what-we-do bg-gradiant-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-9">
                        <h3 class="text-center wow fadeInUp" data-wow-delay="0.1s">UPSC: Civil Services Examination Pattern & Syllabus</h3>
                        <p>An eligible aspirant can attempt the civil services exams six times.</p>
                        <ul class="a">
                            <li>
                                <p>The Civil Services Examination is conducted in 3 stages. The entire process takes almost an year:</p>
                            </li>
                            <li>
                                <p>
                                    Stage I - Preliminary Examination (usually conducted in May/June, results by August). 
                                </p>
                            </li>
                            <li>
                                <p>Stage II - Main Examination (usually conducted around November, results by February/March).</p>
                            </li>
                            <li>
                                <p> Stage III - Interview (usually conducted over March/April, final results announced a few days before the next preliminary exam.</p>
                            </li>
                        </ul>
                        <h3 class="text-center wow fadeInUp" data-wow-delay="0.1s">Civil Services - Preliminary Examination - Exam Pattern</h3>
                        <p>The Preliminary Examination basically serves as a screening test to shortlist candidates for the next stage, the Main examination.</p>
                        <ul class="a">
                            <li>
                                <p>
                                    The Preliminary Exam consists of two objective type papers (multiple-choice questions) for a total of 400 marks. Each paper has 200 marks each and two hours allotted. However, blind candidates would be provided an extra 20 minutes for each paper.  
                                </p>	 
                            </li>
                            <li>
                                <p>
                                    Since this is a qualifying exam, the marks obtained in this test are not counted for determining the final order of merit of a candidate if he qualifies for the main exam as well.   
                                </p>    
                            </li>
                            <li>
                                <p>
                                    There will be negative marking (of one-third marks for that answer) for wrong answers marked by a candidate in the objective type question papers. Only a black ballpoint pen may be used for both writing and marking answers in the OMR sheet (answer sheet). Pens of any other colour, pencils or ink pens are prohibited.   
                                </p>
                            </li>
                            <li>
                                <p>
                                    The medium of the question paper is both English and Hindi.   
                                </p>
                            </li>
                        </ul>
                        <p>
                            Since 2011, the syllabi covered in these papers underwent a major change, with the focus shifting to test a candidate's analytical abilities and comprehension skills rather than the ability to simply memorize. Now the civil services preliminary examination is popularly known as the Civil Services Aptitude Test (CSAT), though officially the papers are still referred to as General Studies Paper I and General Studies Paper II.
                        </p>
                        <h3 class="text-center wow fadeInUp" data-wow-delay="0.1s">Civil Services - Preliminary Examination - Syllabus</h3>
                        <h3 class="text-center wow fadeInUp" data-wow-delay="0.1s">
                            Paper I - (200 marks) Duration: Two hours   
                        </h3> 
                        <ul class="a">
                            <li>
                                <p>Current events of national and international importance</p>
                            </li>
                            <li>
                                <p>
                                    History of India and Indian National Movement   
                                </p>     
                            </li>
                            <li>
                                <p>
                                    Indian and World Geography - Physical, Social, Economic Geography of India and the World
                                </p>
                            </li>
                            <li>
                                <p>
                                    Indian Polity and Governance - Constitution, Political System, Panchayati Raj, Public Policy, Rights Issues, etc.
                                </p>
                            </li>
                            <li>
                                <p>    
                                    Economic and Social Development Sustainable Development, Poverty, Inclusion, Demographics, Social Sector initiatives, etc
                                </p>
                            </li>
                            <li>
                                <p> General issues on Environmental Ecology, Bio-diversity and Climate Change - subject specialization not required.
                                </p>
                            </li>
                            <li>
                                <p>General Science</p>
                            </li>
                        </ul>
                        <h3 class="text-center wow fadeInUp" data-wow-delay="0.1s">
                            Paper II - (200 marks) Duration: Two hours 
                        </h3>
                        <p>
                            Note :-This is a qualifying paper, candidates should score minimum 33% to qualify
                        </p>
                        <ul class="a">
                            <li>
                                <p>Comprehension</p>
                            </li> 
                            <li>
                                <p>Interpersonal skills including communication skills</p>
                            </li> 
                            <li>
                                <p>Logical reasoning and analytical ability</p>
                            </li> 
                            <li>
                                <p>Decision-making and problem-solving</p>
                            </li> 
                            <li>
                                <p>General mental ability</p>
                            </li> 
                            <li>
                                <p>Basic numeracy (numbers and their relations, orders of magnitude, etc.) (Class X level), Data interpretation (charts, graphs, tables, data sufficiency etc. - Class X level)</p>
                            </li> 
                        </ul>
                        <h3 class="text-center wow fadeInUp" data-wow-delay="0.1s">
                            Civil Services - Main Examination - Exam Pattern
                        </h3>
                        <h3 class="text-center wow fadeInUp" data-wow-delay="0.1s">
                            A) Written Exam
                        </h3>
                        <p>
                            From 2013 onwards, certain changes have been introduced to the pattern and scheme of the Civil Services Main Examination as well.
                        </p>
                        <p>
                            The new and changed scheme of the Main Exam aims to evaluate the overall intellectual capability and level of understanding of candidates, rather than just the range of their information and memory.
                        </p>
                        <p>
                            The main examination will have the 2 qualifying papers and 7 papers to be counted for merit. All the 9 papers will have essay-type questions.
                        </p>
                        <p>
                            Qualifying papers
                        </p>
                        <p>                             
                            Paper A (300 marks) - One of the Indian Language to be selected by the candidate from the languages included in the 8th Schedule to the Constitution
                        </p>
                        <p>
                            Paper B (300 marks) - English
                        </p>
                        <p>
                            The papers on Indian Languages and English (Paper A and Paper B) will be of matriculation or equivalent standard and will be of qualifying nature. The marks obtained in these papers will not be counted for ranking.
                        </p>
                        <p>
                            However, paper A on Indian Language will not be compulsory for candidates hailing from the states of Arunachal Pradesh, Manipur, Meghalaya, Mizoram, Nagaland and Sikkim.  
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center wow fadeInUp" data-wow-delay="0.1s">Papers to be counted for merit:</h3>
                        <table class="table-complex">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2" >Paper – I</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> Essay</td>
                                    <td>250 Marks</td>
                                </tr>
                            <th scope="col" colspan="2">Paper – II</th>
                            <tr>
                                <td>
                                    General Studies – I 
                                    (Indian Heritage and Culture, History and Geography of the World & Society)
                                </td>
                                <td>250 Marks</td>     
                            </tr>
                            <th scope="col" colspan="2">Paper -III</th>
                            <tr>
                                <td>
                                    General Studies – II 
                                    (Governance, Constitution, Polity, Social Justice and International relations)
                                </td>
                                <td>250 Marks</td>
                            </tr>
                            <th scope="col" colspan="2">Paper-IV</th>
                            <tr>
                                <td>
                                    General Studies – III 
                                    (Technology, Economic Development, Bio-diversity, Environment, Security & Disaster Management)
                                </td>
                                <td>250 Marks</td>
                            </tr>
                            <th scope="col" colspan="2">Paper-V</th>
                            <tr>
                                <td>
                                    General Studies – IV 
                                    (Ethics, Integrity and Aptitude)
                                    (Click to view Sample paper)
                                </td>
                                <td>250 Marks</td>
                            </tr>
                            <th scope="col" colspan="2">Paper-VI</th>
                            <tr>
                                <td>
                                    Optional Subject – Paper 1
                                </td>
                                <td>250 Marks</td>
                            </tr>
                            <th scope="col" colspan="2">Paper-VII</th>
                            <tr>
                                <td>
                                    Optional Subject – Paper 2
                                </td>
                                <td>250 Marks</td>
                            </tr>
                            <tr>
                                <td>
                                    Sub Total (Written test)
                                </td>
                                <td>1750 Marks</td>
                            </tr>
                            <tr>
                                <td>
                                    Personality Test
                                </td>
                                <td>275 Marks</td>
                            </tr>
                            <tr>
                                <td>
                                    Grand Total
                                </td>
                                <td>2025 Marks</td>
                            </tr>
                            </tbody> 
                        </table>
                    </div>
                </div>
                        <p>
                            Marks obtained in Paper 1 to Paper 7 will be counted for merit ranking. However UPSC can fix the qualifying marks for any/all of these papers according to its own discretion.
                        </p>
                        <p>
                            The question paper for each of the seven papers will be of the conventional (essay) type and have three hours allotted. The question paper is set in English and Hindi only (except for the literature of the language paper).
                        </p>
                        <p>
                            Candidates exercising the option to answer papers in any one of the languages mentioned below may, if they so desire, give English version within brackets of only the description of the technical terms, if any, in addition to the version in the language opted by them.
                        </p>
                        <p>
                           Candidates should, however, note that if they misuse the above rule, a deduction will be made on this account from the total marks otherwise accruing to them and in extreme cases; their script(s) will not be valued for being in an unauthorized medium.
                        </p>
                        <p>
                            The list of optional subjects for the main exams are:
                        </p>
                          <ul class="n">
                            <li>Agriculture</li>
                            <li>Animal Husbandry and Veterinary Science</li>
                            <li>Anthropology</li>
                            <li>Botany</li>
                            <li>Chemistry</li>
                            <li>Civil Engineering</li>
                            <li>Commerce and Accountancy</li>
                            <li>Economics</li>
                            <li>Electrical Engineering</li>
                            <li>Geography</li>
                            <li>Geology</li>
                            <li>History</li>
                            <li>Law</li>
                            <li>Management</li>
                            <li>Mathematics</li>
                            <li>Mechanical Engineering</li>
                            <li>Medical Science</li>
                            <li>Philosophy</li>
                            <li>Physics</li>
                            <li>Political Science and International Relations</li>
                            <li>Psychology</li>
                            <li>Public Administration</li>
                            <li>Sociology</li>
                            <li>Statistics</li>
                            <li>Zoology</li>
                            <li>Literature of any of the following 23 languages:</li>
                          </ul>
                             <table class="table-complex">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Assamese</td>
                                    <td>Manipuri</td>       
                                </tr>
                                <tr>
                                    <td>Bengali</td>
                                    <td>Marathi</td>       
                                </tr>
                                <tr>
                                    <td>Bodo</td>
                                    <td>Nepali</td>       
                                </tr>
                                <tr>
                                    <td>Dogri</td>
                                    <td>Oriya</td>       
                                </tr>
                                <tr>
                                    <td>English</td>
                                    <td>Punjabi</td>       
                                </tr>
                                <tr>
                                    <td>Gujarati</td>
                                    <td>Sanskrit</td>       
                                </tr>
                                <tr>
                                    <td>Hindi</td>
                                    <td>Santhali</td>       
                                </tr>
                                <tr>
                                    <td>Kannada</td>
                                    <td>Sindhi</td>       
                                </tr>
                                <tr>
                                    <td>Kashmiri</td>
                                    <td>Tamil</td>       
                                </tr>
                                <tr>
                                    <td>Konkani</td>
                                    <td>Telugu</td>       
                                </tr>
                                <tr>
                                    <td>Maithilli</td>
                                    <td>Urdu</td>       
                                </tr>
                                <tr>
                                    <td>Malayalam</td>
                                    <td> - </td>       
                                </tr>
                              </tbody>
                          </table>
                        <p>For each language medium/literature of languages, the script to be used by the candidates are:</p>
                             <table class="table-complex">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Language</td>
                                    <td>Script</td>       
                                </tr>
                                <tr>
                                    <td>Bengali</td>
                                    <td>Bengali</td>       
                                </tr>
                                <tr>
                                    <td>Gujarati</td>
                                    <td>Gujarati</td>       
                                </tr>
                                <tr>
                                    <td>Hindi</td>
                                    <td>Devanagari</td>       
                                </tr>
                                <tr>
                                    <td>Kannada</td>
                                    <td>Kannada</td>       
                                </tr>
                                <tr>
                                    <td>Kashmiri</td>
                                    <td>Persian</td>       
                                </tr>
                                <tr>
                                    <td>Konkani</td>
                                    <td>Devanagari</td>       
                                </tr>
                                <tr>
                                    <td>Malayalam</td>
                                    <td>Malayalam</td>       
                                </tr>
                                <tr>
                                    <td>Manipuri</td>
                                    <td>Devanagari</td>       
                                </tr>
                                <tr>
                                    <td>Marathi</td>
                                    <td>Devanagari</td>       
                                </tr>
                                <tr>
                                    <td>Nepali</td>
                                    <td>Devanagari</td>       
                                </tr>
                                <tr>
                                    <td>Oriya</td>
                                    <td>Oriya</td>       
                                </tr>
                                 <tr>
                                    <td>Punjabi</td>
                                    <td>Gurumukhi</td>       
                                </tr>
                                 <tr>
                                    <td>Sanskrit</td>
                                    <td>Devanagari</td>       
                                </tr>
                                 <tr>
                                    <td>Sindhi</td>
                                    <td>Devanagari or Arabic</td>       
                                </tr>
                                 <tr>
                                    <td>Tamil</td>
                                    <td>Tamil</td>       
                                </tr>
                                 <tr>
                                    <td>Telgu</td>
                                    <td>Telgu</td>       
                                </tr>
                                 <tr>
                                    <td>Urdu</td>
                                    <td>Persian</td>       
                                </tr>
                                 <tr>
                                    <td>Bodo</td>
                                    <td>Devanagari</td>       
                                </tr>
                                <tr>
                                    <td>Dogri</td>
                                    <td>Devanagari</td>       
                                </tr>
                                  <tr>
                                    <td>Maithili</td>
                                    <td>Devanagari</td>       
                                </tr>
                                  <tr>
                                    <td>Santhali</td>
                                    <td>Devanagari or Olchiki</td>       
                                </tr>  
                              </tbody>
                          </table>
                        <p>
                          For Santhali language, the question paper will be printed in Devanagari script. Candidates will be free to answer either in Devanagari script or in Olchiki.  
                        </p>
                        <p>
                        For the detailed syllabus of each civil services main exam paper, please refer to: http://www.upsc.gov.in/    
                        </p>
                      <h3 class="text-center wow fadeInUp" data-wow-delay="0.1s">B) Personality Test/Interview</h3>  
                      <p>
                          The interview or personality round is also included as a part of the "Main Examination" and is worth 275 marks, which is added to the grand total.
                      </p>
                      <p>
                          1. The candidate will be interviewed by a panel that will have before them the candidate's career and academic record. He/she will be quizzed by this board on matters of general interest with the aim to assess suitability for a career in public service. This personality test intends to judge the candidates' mental calibre. Basically, the interview is an assessment of not only intellectual qualities, but also social traits and interest in current affairs. Some of the qualities that will be judged by the interview panel are:
                      </p>
                        <ul class="a">
                            <li>
                      	mental alertness
                            </li>
                            <li>
                    	critical powers of assimilation
                            </li>
                            <li>
                            clear and logical exposition    
                            </li>
                            <li>
                               balance of judgement  
                            </li>
                            <li> variety and depth of interest</li>
                            <li>ability for social cohesion and leadership</li>
                           <li>intellectual and moral integrity
                          </li> 
                        </ul>
                      <p>
                          2. The technique of the interview is not that of a strict cross-examination but of a natural, though directed and deliberate, conversation which aims to reveal the mental calibre of the candidate.
                      </p>
                      <p>
                          3. The interview test is not intended to be a test either of the specialised or general knowledge of the candidate, which has already been tested through their written papers. Candidates are expected to have taken an intelligent interest not only in their special subjects of academic study but also in the events which are happening around them both within and outside their own state or country as well as in modern currents of thought and in new discoveries which should rouse the curiosity of a well-educated youth
                      </p>
                      <p>
                          Marks obtained by candidates in the Main Examination (written part as well as interview) will determine final ranking. Candidates will be allotted to the various Services, keeping in view their ranks in the examination and the preferences expressed by them for the various Services and posts.
                      </p>
            </div>
        </section>  

        {% include footer.html %}

    </body>
</html>
