---
layout:
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Equations - IAS, PCS, CIVIL SERVICES, UPSC & BANK EXAM COACHING INSTITUTE</title>
        <meta name="description" content="Equations IAS academy is the best well known IAS/PCS Coaching, Uttarakhand, INDIA">
        <meta name="keywords" content="Best IAS, PCS, Civil Services, UPSC, Banking classes"> 

        {% include head_commons.html %}
       
    </head>
    <body id="page-top">
        
        {% include header.html %}

     <!--====================================================
                          HOME
      ======================================================-->
        <section id="home">
            <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel"> 
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="carousel-item active slides">
                        <div class="overlay"></div>
                        <div class="slide-1"></div>
                        <div class="hero ">
                            <hgroup class="wow fadeInUp">
                                <h1><span> </span><span>TARGET </span><i class="fa fa-arrow-right"></i><span></span><span ><a href="" class="typewrite" data-period="2000" data-type='[ "IAS","UPSC","PCS","PO","SSC"]'>
                                            <span class="wrap"></span></a></span> </h1>        
                                <h3>Best Civil Services Coaching Institute in Dehradun</h3>
                            </hgroup>
                            <button class="btn btn-general btn-green wow fadeInUp" role="button">Contact At<span><h3>8266010605</h3></span></button>
                        </div>           
                    </div> 
                </div> 
            </div> 
        </section>

        <!--====================================================
                              FINANCIAL-P5
        ======================================================-->    
        <section class="what-we-do bg-gradiant-1 financial-p5">
            <div class="container">
                <div class="row title-bar-home-page">
                    <div class="col-md-12">
                        <h3 class="wow fadeInUp cl-white text-center">Best Training for Civil Services</h3>
                        <div class="heading-border-light-home-page-link"></div>
                        <p>Equations IAS is making an honest Endeavour in direction by providing high quality value –based education (Expertise, Application, Learning, Nurturing, Preparing).</p>
                        <div class="heading-border bg-white"></div> 
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4  col-sm-6">
                                <div class="what-we-desc wow fadeInUp" data-wow-delay="0.2s">
                                    <i class="fa fa-bar-chart"></i>
                                    <h6>Classroom Coaching</h6>
                                    <p class="desc">By providing a rich vibrant learning environment, we not only stimulate free interaction but also kindle a spirit of deep enquiry in the young minds &help
                                     to enhance their problem-solving &decision-making skills.The program of study is designed to lay emphasis on foundations courses, with a good balance of breadth & depth. The environment is such that the students maintain curiosity to be life long learners & develop the necessary communication & social skills as well as an appreciation of the Indian ethos & Professional Ethics.
                                </div>
                            </div>
                            <div class="col-md-4  col-sm-6">
                                <div class="what-we-desc wow fadeInUp" data-wow-delay="0.1s">
                                    <i class="fa fa-bullseye"></i>
                                    <h6>Audio Visual Training </h6>
                                    <p class="desc"> Equations IAS  provides range of Smart Classes which  allows for integration of various technologies in order to improve the learning experience.
                                        The audio visual learning using smart technologies serves the audience better by using elements like graphs, images, charts, presentations, etc., that are not easily conveyed by the classroom notes or text. In Equation IAS  students thus learn effectively and therefore are capable of retaining more information.</p>
                                </div>
                            </div>
                            <div class="col-md-4  col-sm-6">
                                <div class="what-we-desc wow fadeInUp" data-wow-delay="0.1s">
                                    <i class="fa fa-star-o"></i>
                                    <h6>Online Tests</h6>
                                    <p class="desc">
                                     Equations IAS provides wide range of Web based and App based test which provide wide range of Questions and Answers.Equations IAS provides range of Smart Classes which allows for integration of various technologies in order to improve the learning experience.They enable you to track your progress with instant answer evaluations.
                                     In Equations IAS Every module of Courses includes Online Tests which leads to better learning Environment and results.</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>      
        </section> 
    <!--==================================================
                        OFFER
     ======================================================-->
        <section id="comp-offer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-6 desc-comp-offer wow fadeInUp" data-wow-delay="0.2s">
                        <h4>What We Offer</h4>
                        <div class="heading-border-light-what-we-offer"></div> 
                    <!-- <button class="btn btn-general btn-white" role="button">Contact Us Today</button> -->
                        <a href="contact.html"><button class="btn btn-general btn-white" role="button">Contact Us Today</button></a>   
                    </div>
                    <div class="col-md-3 col-sm-6 desc-comp-offer wow fadeInUp" data-wow-delay="0.4s">
                        <div class="desc-comp-offer-cont">
                            <div class="thumbnail-blogs">
                                <div class="caption">
                                    <i class="fa fa-chain"></i>
                                </div>
                                <img src="img/news/news-10.jpg" class="img-fluid" alt="...">
                            </div>
                            <h3>Experienced  Faculty</h3>
                            <p class="desc">The foundation of any good institute is its faculty & the most important activity is the teaching-learning process. Teaching fraternity forms the key to this process & through their</p>
                            <a href="javascript:showhide('uniquename')"><i class="fa fa-arrow-circle-o-right"></i>Show More</a> 
                            <div id="uniquename" style="display:none;">
                                <p>
                                    expertise concert knowledge into wisdom thereby making it applicable beyond the boundaries of time &space. Converting the right candidates to the right jobs through right training & development has always been the goal of Equations IAS. Equations IAS is proud to state that it has achieved the same to a large extent through our plenty of selection in various field of competition.</p>
                            </div>
                        </div>
                    </div>          
                    <div class="col-md-3 col-sm-6 desc-comp-offer wow fadeInUp" data-wow-delay="0.6s">
                        <div class="desc-comp-offer-cont">
                            <div class="thumbnail-blogs">
                                <div class="caption">
                                    <i class="fa fa-chain"></i>
                                </div>
                                <img src="img/news/news-13.jpg" class="img-fluid" alt="...">
                            </div>              
                            <h3>Online/Offline Test Series</h3>
                            <p class="desc">It allows students to test their knowledge, strengths and weaknesses which assist in maximization of strengths and minimization of weaknesses with the proper time management.</p>
                            <a href="javascript:showhide('data-more')"><i class="fa fa-arrow-circle-o-right"></i>Show More</a>
                            <div id="data-more" style="display:none;">
                                <p>It enhances efficiency and competitive spirit among students. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 desc-comp-offer wow fadeInUp" data-wow-delay="0.8s">
                        <div class="desc-comp-offer-cont">
                            <div class="thumbnail-blogs">
                                <div class="caption">
                                    <i class="fa fa-chain"></i>
                                </div>
                                <img src="img/news/news-14.jpg" class="img-fluid" alt="...">
                            </div>
                            <h3>Morning and Evening Classes </h3>
                            <p class="desc">Morning and evening batches are available. Such batches are preferred generally by either working professionals or college going students with the proper time management. </p>
                            <p> </p>
                            <a href="#"><i class="fa fa-arrow-circle-o-right"></i> Show More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
    <!--==================================================
                 What we do        
     ======================================================-->
      <!--   <section class="what-we-do bg-gradiant-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <h3>What we Do</h3>
                        <p class="desc">We give various Methodologies for  Training.</p>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4  col-sm-6">
                                <div class="what-we-desc">
                                    <i class="fa fa-briefcase"></i>
                                    <h6>E-Materials</h6>
                                    <p class="desc">E-materials for better Interview Preparation </p>
                                </div>
                            </div>
                            <div class="col-md-4  col-sm-6">
                                <div class="what-we-desc">
                                    <i class="fa fa-shopping-bag"></i>
                                    <h6>Interview</h6>
                                    <p class="desc">Quality Training for Interview and personality development </p>
                                </div>
                            </div>
                            <div class="col-md-4  col-sm-6">
                                <div class="what-we-desc">
                                    <i class="fa fa-building-o"></i>
                                    <h6>ClassRooms</h6>
                                    <p class="desc">ClassRoom for better quality experience. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      
        </section> -->
      
        <!-- ====================================================
                               NEWS
           ====================================================== -->
        <!-- <section id="comp-offer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-6  desc-comp-offer wow fadeInUp" data-wow-delay="0.2s">
                        <h2>Latest News</h2>
                        <div class="heading-border-light-col"></div> 
                        <button class="btn btn-general btn-green" role="button">See More</button>
                    </div>
                    <div class="col-md-3 col-sm-6 desc-comp-offer wow fadeInUp" data-wow-delay="0.4s">
                        <div class="desc-comp-offer-cont">
                            <div class="thumbnail-blogs">
                                <div class="caption">
                                    <i class="fa fa-chain"></i>
                                </div>
                                <img src="img/news/news-1.jpg" class="img-fluid" alt="...">
                            </div>
                            <h3>Test Series and Collections</h3>
                            <p class="desc">Test series with different pattern and collections of various series.  </p>
                            <a href="#"><i class="fa fa-arrow-circle-o-right"></i>Show More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 desc-comp-offer wow fadeInUp" data-wow-delay="0.6s">
                        <div class="desc-comp-offer-cont">
                            <div class="thumbnail-blogs">
                                <div class="caption">
                                    <i class="fa fa-chain"></i>
                                </div>
                                <img src="img/news/news-9.jpg" class="img-fluid" alt="...">
                            </div>
                            <h3>Quiz Program</h3>
                            <p class="desc">Quiz Program with different sections for Learning. </p>
                            <a href="#"><i class="fa fa-arrow-circle-o-right"></i> Show More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 desc-comp-offer wow fadeInUp" data-wow-delay="0.8s">
                        <div class="desc-comp-offer-cont">
                            <div class="thumbnail-blogs">
                                <div class="caption">
                                    <i class="fa fa-chain"></i>
                                </div>
                                <img src="img/news/news-10.jpg" class="img-fluid" alt="...">
                            </div>
                            <h3>General Knowledge and Awareness</h3>
                            <p class="desc">Current affairs and General Awareness for the best results. </p>
                            <a href="#"><i class="fa fa-arrow-circle-o-right"></i> Show More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        -->
        <!--====================================================
                              FOOTER
        ======================================================--> 

        {% include footer.html %}

    </body>
</html>
