---
layout:
---

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta name="description" content="Equations - Top IAS PCS UPSC and Banking Civil Servcies Coaching in Dehradun – Classic IAS Academy is the best IAS Academy and Institute for civil services examination in Dehradun for the students">
        <meta name="keywords" content="Top Best IAS PCS UPSC Banking Civil Servcices classes premium affordable  online Coaching college students professional candidates">

        <title>Equations - IAS UPSC PCS BANK CIVIL SERVICES EXAM COACHING INSTITUTE</title>
        
        {% include head_commons.html %}

    </head>
    <body id="page-top">
        {% include header.html %}

        <!--====================================================
                                HOME-P
         ======================================================-->
        <div id="home-p" class="home-p pages-head2 text-center">
            <div class="container">
                <h1 class="wow fadeInUp" data-wow-delay="0.1s">Equations IAS Learning</h1>
                <p>Our Services</p>
            </div><!--/end container-->
        </div>
        <!--====================================================
                             ABOUT
     ======================================================-->
        <section id="about" class="about">
            <div class="container">
                <div class="row title-bar">
                    <div class="col-md-12">
                        <h1 class="wow fadeInUp">We committed to helping</h1>
                        <div class="heading-border"></div>
                        <p class="wow fadeInUp" data-wow-delay="0.4s">
                            Equations IAS has been dominating over these years with its more than 715 final selections in various government exams, though it quotes many more achievements to come in future endeavors. 
                            The faculty and management possesses a high degree of integrity, knowledge and support that boosts the student’s moral to become more potential and self reliable.
                            “Knowledge is important; but knowing how to apply it, is critical without proper guidance.”
                        </p>
                        <div class="title-but"><button class="btn btn-general btn-green" role="button">Read More</button></div>
                    </div>
                </div>
            </div>  
            <!-- About right side withBG parallax -->    
            <!-- About right side withBG parallax -->
            <div class="container-fluid">
                <div class="row"> 
                    <div class="col-md-4 bg-starship">
                        <div class="about-content-box wow fadeInUp" data-wow-delay="0.3s">
                            <i class="fa fa-snowflake-o"></i> 
                            <!--   <img src="img/news/upsc-2.jpg" class="img-fluid" alt="..."> -->
                            <h5>Teaching Methodology</h5>
                            <p class="desc">
                                The learning methodology @ Equations IAS is a step-by-step process. The strategy gets realized through a cumulative of class room lectures; which happens at a regular & predetermined time intervals during the course tenure. Self Awareness & Development program are conducted on a regular basis, where a student learns global competencies. Equations career advisory services include: Mentoring & offering personal support system. </div>
                    </div> 
                    <div class="col-md-4 bg-chathams">
                        <div class="about-content-box wow fadeInUp" data-wow-delay="0.5s">
                            <i class="fa fa-circle-o-notch"></i>
                            <h5>Mock Interviews & GDs</h5>
                            <p class="desc">
                                Once a student is qualified or through an exam then comes a huddle of GD’S and PI. So Equations take an initiative in preparing its student to his toughest time. Role playing &practice interviews enable students to gain confidence, hone their responses & towards our students till the end of their careers. Equations IAS – a mix blend of knowledge & guidance.    </div>
                    </div> 
                    <div class="col-md-4 bg-matisse">
                        <div class="about-content-box wow fadeInUp" data-wow-delay="0.7s">
                            <i class="fa fa-hourglass-o"></i>
                            <h5>Online Learning & Tests</h5>
                            <p class="desc">
                                In EQUATIONS IAS We provide Bank PO Coaching by highly experienced team of Uttarakhand. The Team has been credited with more than 520 final selections. The team consists of faculties with 15 – 22 years experience. Fresh Batches for Bank PO are available.   
                                The Equations team works directly with the student keeping their interests & goals in mind.
                        </div>
                    </div> 
                </div> 
            </div>       
        </section>

        {% include footer.html %}

    </body>
</html>
