---
layout:
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="Equations - Top IAS PCS UPSC and Banking Civil Servcies Coaching in Dehradun – Classic IAS Academy is the best IAS Academy and Institute for civil services examination in Dehradun for the students">
        <meta name="keywords" content="Top Best IAS PCS UPSC Banking Civil Servcices classes premium affordable  online Coaching college students professional candidates">

        <title>Equations - IAS UPSC PCS BANK CIVIL SERVICES EXAM COACHING INSTITUTE</title>
        
        {% include head_commons.html %}

    </head>
    <body id="page-top">
        {% include header.html %}

<!--====================================================
                       HOME-P
======================================================-->
    <div id="home-p" class="home-p pages-head1 text-center">
        <div class="container">
            <h1 class="wow fadeInUp" data-wow-delay="0.1s">PCS Coaching</h1>
        </div>
        <!--/end container-->
    </div>
 <!--====================================================
                             ABOUT-P3
   ======================================================-->
        <section id="story" class="about-p3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="story-desc">
                            <p>Uttarakhand PCS/PCS Exam is conducted in three stages i.e. Prelims, Mains and Interview.</p>

                            <p>                            
                                Equations - IAS provides the best guidance and learning for the prestigious government exams focusing UPSC IAS, PCS, SSC and Banking.
                                We provide UPSC Coaching by highly experienced team of Uttarakhand. The team consists of faculties with 15 – 22 years experience.
                            </p>
                            <p>Fresh Batches for UPSC are available.</p>

                            <div>
                                <h5>Online Course details</h5>

                                <ul class="list-group">
                                    <li class="list-group-item">1000+ Videos</li>
                                    <li class="list-group-item">100+ PDF files of various topics</li>
                                    <li class="list-group-item">100+ Chapterwise,Section wise, Full Length Tests</li>
                                    <li class="list-group-item">Online Course Fee Rs 7500</li>
                                    <li class="list-group-item">
                                        <button type="button" class="btn btn-link"><a href="https://www.youtube.com/channel/UC9Fj2SJf0911ZBj_bxTo8aQ" target="_blank">
                                            Watch limited free lectures
                                        </a></button>
                                    </li>
                                    <li class="list-group-item">Watch all lectures &nbsp;&nbsp;
                                        <button type="button" class="btn btn-danger">
                                            <a href="http://payments.course-today.com/eyJjb3Vyc2VJZCI6MjAxMTksInR1dG9ySWQiOjI0NDIzfQ==" target="_blank" style="color:white">Buy Now</a>
                                        </button>
                                    </li>
                                  </ul>
                            </div>

                            <br>
                            <div>
                                <h5>Classroom Coaching in Dehradun</h5>
                                <p>Call us at: +91 8266010605</p>
                            </div>

                        </div>

                    </div>           
                </div>
            </div>     
        </section>
        
<!--====================================================
                              Table Bank PO PRE CONTENT
======================================================-->
        <!--***** CONTENT *****-->     
        <section class="what-we-do bg-gradiant-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="text-center wow fadeInUp" data-wow-delay="0.1s">1. Prelims Exam Pattern</h3>
                        <table class="table table-hover">
                            <thead>
                                <tr class="text-white">
                                    <th>Sr No</th>
                                    <th>Subjects</th>
                                    <th>Total Questions</th>
                                    <th>Max-Marks</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-white">
                                    <th scope="row">1st</th>
                                    <td>General Studies</td>
                                    <td>150</td>
                                    <td>150</td>
                                    <td>2-hours</td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row">2nd</th>
                                    <td>General Knowledge Exam</td>
                                    <td>100</td>
                                    <td>150</td>
                                    <td>2-hours</td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row"> </th>
                                    <td>Total Marks</td>
                                    <td></td>
                                    <td></td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <div class="small-news-box">
                            <h3 class="wow fadeInUp" data-wow-delay="0.1s">Notification News</h3>
                            <a href="">
                                <div class="right-side-sn-cont">
                                    <img src="img/news/news-9.jpg" alt="" class="img-fluid">
                                    <p>News regarding Uttarakhand PCS.</p>
                                    <small><fa class="fa-watch"> Jan 1, 2019</fa></small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="text-center wow fadeInUp" data-wow-delay="0.1s">2. Mains Exam Pattern</h3>
                       <table class="table table-hover">
                            <thead>
                                <tr class="text-white">
                                    <th>Sr No</th>
                                    <th>Question Paper</th>
                                    <th>Subject Name</th>
                                    <th>Max-Marks</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-white">
                                    <th scope="row">1st</th>
                                    <td>Paper (1st)</td>
                                    <td>Language</td>
                                    <td>300</td>
                                    <td>3-hours</td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row">2</th>
                                    <td>Paper (2nd)</td>
                                    <td>Indian History, National Movement, Social & Culture</td>
                                    <td>200</td>
                                    <td>3-hours</td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row">3</th>
                                    <td>Paper (3rd)</td>
                                    <td>Indian Administration, Social Justice & International Relations</td>
                                    <td>200</td>
                                    <td>3-hours</td>
                                </tr>
                                 <tr class="text-white">
                                    <th scope="row">4</th>
                                    <td>Paper (4th)</td>
                                    <td>India & World Geography</td>
                                    <td>200</td>
                                    <td>3-hours</td>
                                </tr>
                                 <tr class="text-white">
                                    <th scope="row">5</th>
                                    <td>Paper (5th)</td>
                                    <td>Economic & Social Development</td>
                                    <td>200</td>
                                    <td>3-hours</td>
                                </tr>
                                  <tr class="text-white">
                                    <th scope="row">6</th>
                                    <td>Paper (6th)</td>
                                    <td>General Science & Technology</td>
                                    <td>200</td>
                                    <td>3-hours</td>
                                </tr>
                                  <tr class="text-white">
                                    <th scope="row">7</th>
                                    <td>Paper (7th)</td>
                                    <td>General Aptitude and Ethics</td>
                                    <td>200</td>
                                    <td>3-hours</td>
                                </tr>
                                 <tr class="text-white">
                                    <th scope="row">8</th>
                                    <td>Interview</td>
                                    <td></td>
                                    <td>200</td>
                                    <td></td>
                                </tr>
                                <tr class="text-white">
                                    <th scope="row"></th>
                                    <td> </td>
                                    <td>Total Marks</td>
                                    <td>1700</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>   
              </div>
        </section>
        
        {% include footer.html %}

    </body>
</html>
