---
layout:
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="Equations - Top IAS PCS UPSC and Banking Civil Servcies Coaching in Dehradun – Classic IAS Academy is the best IAS Academy and Institute for civil services examination in Dehradun for the students">
        <meta name="keywords" content="Top Best IAS PCS UPSC Banking Civil Servcices classes premium affordable  online Coaching college students professional candidates">

        <title>Equations - IAS UPSC PCS BANK CIVIL SERVICES EXAM COACHING INSTITUTE</title>
        
        {% include head_commons.html %}

    </head>
    <body id="page-top">
        {% include header.html %}

        <!--====================================================
                            TESTIMONIALS-P1
        ======================================================-->
        <div class="container">
            <div class="row title-bar">
                <div class="col-md-12">
                    <h1 class="wow fadeInUp">Equations-IAS  Team</h1>
                    <div class="heading-border"></div>
                    <p class="wow fadeInUp" data-wow-delay="0.4s">We are a bunch of people who embody the united spirit of our Team Adventure.</p> 
                </div>
            </div>
        </div>  
        <div class="overlay-testimonials-p1"></div>
        <section id="testimonials-p1" class="bg-parallax testimonials-p1-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4 bg-gradiant testimonials-p1-pos">
                        <div class="testimonials-p1-cont">
                            <div id="customers-testimonials" class="text-center owl-carousel owl-theme">
                                <div class="testimonial">
                                    <img src="img/client/Deepak Dutt Mamgain.JPG" alt="testimonial" class="img-fluid rounded-circle">
                                    <blockquote>
                                        <p> 
                                            Founder Director
                                            Deepak Dutt Mamgain
                                            M. Sc.(Maths), MBA
                                            Ex Employee-Ministry of Science & Technology
                                            Quant./DI, Reasoning, Economics, Polity
                                            15+ years of Teaching Experience
                                        </p>  
                                    </blockquote>
                                    <div class="testimonial-author">
                                        <p>
                                            <strong>Deepak Dutt Mamgain</strong>
                                            <span>CEO & Founder - Equations IAS</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="testimonial">
                                    <img src="img/client/sunil kishtwal new.jpg" alt="testimonial" class="img-fluid rounded-circle">
                                    <blockquote>
                                        <p>
                                         Co-Founder
                                         Sunil Kishtwal
                                         M. A. (History), NET Qualified
                                         Pursuing Ph.D. in History
                                         History, Polity, Geography, Uttarakhand
                                         20+ years of Teaching Experience   
                                        </p>  
                                    </blockquote>
                                    <div class="testimonial-author">
                                        <p>
                                            <strong>Mr. Sunil Kishtwal</strong>
                                            <span>Co-Founder Equations IAS</span>
                                        </p>
                                    </div>
                                </div>
                                 <div class="testimonial">
                                    <img src="img/client/Joshi Sir cropped.jpeg" alt="testimonial" class="img-fluid rounded-circle">
                                    <blockquote>
                                        <p>
                                        Co-Founder
                                        Mukesh Joshi
                                        M.A. (English), JNU
                                        CAT Trainer for the last 20 years
                                        English, GD/PI 20+ years of Teaching Experience
                                        </p>  
                                    </blockquote>
                                    <div class="testimonial-author">
                                        <p>
                                            <strong>Mr. Mukesh Joshi</strong>
                                            <span>Co-Founder Equations IAS</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="testimonial">
                                    <img src="img/client/R K Rao.jpg"alt="testimonial" class="img-fluid rounded-circle">
                                    <blockquote>
                                        <p>
                                          GD/PI Faculty
                                          R. K. Rao
                                          M. A. (English), MBA
                                          20+ years Experience in Marketing & Business
                                          English, Group Discussion , Personal Interview
                                          20+ years of Teaching Experience
                                         </p>
                                    </blockquote>
                                    <div class="testimonial-author">
                                        <p>
                                            <strong>Mr. R K Rao</strong>
                                            <span>GD/PI Faculty Equations IAS</span>
                                        </p>
                                    </div>
                                </div>
                            </div>              
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====================================================
                              TESTIMONIALS-P2
        ======================================================-->
        <section id="client" class="client testimonials-p2">
            <div class="container"> 
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="client-cont">
                            <img src="img/client/Deepak Dutt Mamgain.JPG" class="img-fluid" alt="">
                            <h5>Deepak Mamgain</h5>
                            <h6>CEO Founder Director Faculty</h6>
                            <h6>
                                Experience : 15+ years
                            </h6>
                            <i class="fa fa-quote-left"></i>
                            <p>
                                Ex-Employee Survey of India, Ex- Faculty TIME, EX-Faculty PT Education,
                                One year CAT Trainer at Ghurdori Engineering college, Pauri, Uttarakhand 
                                Qualification : MBA, MSc.(Mathematics). 
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="client-cont">
                            <img src="img/client/sunil kishtwal new.jpg" class="img-fluid" alt="">
                            <h5>Sunil Kishtwal</h5>
                            <h6>Co-Founder Equations IAS</h6>
                            <h6>Experience : 20+ years</h6>
                            <i class="fa fa-quote-left"></i>
                            <p>
                                He has been training students General Studies and Current Affairs for the last 18 years. He is extremely knowledgeable & carries with him vast experience in all Areas of General Knowledge & Current Affairs.
                            </p>  </div>
                    </div>
                     <div class="col-md-6 col-sm-12">
                        <div class="client-cont">
                            <img src="img/client/Joshi Sir cropped.jpeg" class="img-fluid" alt="">
                            <h5>Mukesh Joshi</h5>
                            <h6>Co-Founder Equations IAS</h6>
                            <h6>Experience : 20+ years</h6>
                            <i class="fa fa-quote-left"></i>
                            <p>
                               He has been training students as a  CAT Trainer for the last 20 years in English, GD/PI     
                            </p>  
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="client-cont">
                            <img src="img/client/avatar-rao-sir.jpg" class="img-fluid" alt="">
                            <h5>M.K. RAO</h5>
                            <h6>Faculty Equations IAS</h6>
                            <h6>Experience : 20+ years</h6>
                            <i class="fa fa-quote-left"></i>
                            <p>
                                He has been training students for their interview for the last 20 years </p></div>
                    </div>
                </div>
            </div>        
        </section> 
    <!-- =======================================================
                    Content - faculty pool Images 
      ===========================================================--> 
        <div class="content-inner chart-cont">
              <!--***** CONTENT *****--> 
              <div class="container-fluid">
                <div class="row">
                     <div class="col-md-12">
                          <div class="story-himg" >
                              <img src="img/img/faculty.jpg" class="img-fluid" alt="seminar-image">
                          </div>
                     </div>
                </div>
              </div>
        </div>
        <!--====================================================
                            CONTACT HOME
        ======================================================-->
        <div class="overlay-contact-h"></div>
        <section id="contact-h" class="bg-parallax contact-h-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-h-cont">
                            <h3 class="cl-white">Continue The Conversation</h3><br>
                            <form>
                                <div class="form-group cl-white">
                                    <label for="name">Your Name</label>
                                    <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter name"> 
                                </div>  
                                <div class="form-group cl-white">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> 
                                </div>  
                                <div class="form-group cl-white">
                                    <label for="subject">Subject</label>
                                    <input type="text" class="form-control" id="subject" aria-describedby="subjectHelp" placeholder="Enter subject"> 
                                </div>  
                                <div class="form-group cl-white">
                                    <label for="message">Message</label>
                                    <textarea class="form-control" id="message" rows="3"></textarea>
                                </div>  
                                <button class="btn btn-general btn-white" role="button"><i fa fa-right-arrow></i>GET CONVERSATION</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>         
        </section> 

        {% include footer.html %}

    </body>
</html>
