*{
    margin:  0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #f3f3f3;
    color: #4f4f4f;
    margin: 0;
    padding:0;
}

h1{
    font-size: 64px;
    font: weight 900px;
}

h2{
    font-size: 44px;
    font: weight 900px;;
}

h3{
    font-size: 23px;
    font: weight 700px;;
}

h4{
    font-size: 16px;
    font: weight 400px;
}

p{
    font-size: 16px;
    font: weight 400px;;
     color:  #4F4F4F;
}
/*===================================
/*-----------------navbar------------
======================================*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    font-family: 'Roboto', sans-serif;

    width: 100%;
    margin: 0 auto;
    background-color: #e5e5e5;
    padding:10px 5%;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:45% ;
    top:30px;
    z-index: 10;
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;


}

.nav-links a{
    color: #4f4f4f;
    text-decoration: none;
     letter-spacing:1px;
     font-size: 16px;
     font-weight: regular;
     padding:12px 20px;

}

.nav-links li{
    list-style: none;
    padding-top: 12px;
    padding-bottom: 15px;
}

nav .nav-links .normal-link:hover {
    background-color: hsl(48, 100%, 78%) ;
    border-radius: 5px;
}
.sub-menu-1{

    display: none;


}

nav .nav-links .normal-link:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: hsl(48, 100%, 88%) ;
    margin-top: 15px;
    padding:5px 0px ;
    border-radius:0 0 5px 5px;
    z-index: 10;
}
nav .nav-links .normal-link:hover .sub-menu-1 ul li{
    display: block;
    margin: 10px;

}

.fas-down{
    background-color: inherit;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #0A1931;

}
.burger{
    display: none;
}
.btn{
    background-color: hsl(48, 100%, 68%) ;
    border: 1px solid hsl(48, 100%, 58%);
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover{
    background-color: hsl(48, 100%, 58%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width:954px){

    body{
        overflow-x: hidden;
    }

    .nav-links{
        background: hsl(216, 76%, 85%);
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 9vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }
    .nav-links li{
        opacity: 1;
    }
    .burger{
        display: block;
        cursor: pointer;
    }

}
@media screen and (max-width:1299px){
    .nav-links{

        width:80% ;


    }
}

.nav-active{
    transform: translateX(0%);
}

/*===================================
/*-----------------Main Section------------
======================================*/

.presentation  {
    display: flex;
    width: 90%;
    margin: 0 auto;
    min-height: 90vh;
    align-items: center;
    justify-content: space-between;
}
.introduction{

    flex: 1;
}
.cover{
    flex: 1;
    position:relative;

}
.main-h1{

line-height:71.7px;
}
.main-p{
    padding-top:32px;
}
.card-main-1{
    display: flex;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 15px rgba(10, 25, 49, 0.12);
    border-radius: 10px;
    position: absolute;
    top: 68%;
    left: 49%;
    z-index: 10;
}
.card-main-1 h4{
    color: #4F4F4F;
    font-weight: 700;
    font-size: 16px;
}
.card-main-1 p{
    color: #185ADB;
    font-weight: 400;
    font-size: 16px;
    padding-top: 3px;
}
.main-png{
    margin-right: 12px;
}
.card-2{
    top: 43%;
    left: 85%;
}
/*===================================
/*----------------Shapes------------
======================================*/
.shape-container{
    padding:15px;
    display: flex;
    position:absolute;
    left:145px;
    top: 25px;
    z-index:-1;
  }
  .blue-shape{
    position:absolute;
    z-index:10;
    width: 442px;
    height: 439px;
    background: #82D6F8;
    border-radius:0px 100px 0px 100px;
  }
  .red-shape{
    z-index:-1;
    position:relative;
    width: 442px;
    height: 439px;
    top: 10px;
    left:10px;
    background: #EE8181;
    border-radius:0px 100px 0px 100px;
  }
.polka-pattern{
    z-index: -3;
    position: absolute;
    padding:50px;
   width:280px;
   height:300px;
   left:95px;
   top: 2px;
   background-color:#f3f3f3;
   background-image:radial-gradient(#B8CDF6 3px,transparent 3px);
   background-size:20px 20px;
}
.cover img{
    height: 481px;
    width: 440px;
    margin-left: 209px;
}

.intro-text h1{
    color:  #185ADB;
}
.intro-text p{
    padding-top: 32px;
    line-height: 22px;
}

.cta{
    padding:50px 0 0 0 ;
}

.cta-select{
    border: 2px;
    background-color: hsl(48, 100%, 68%);
    border: 1px solid hsl(48, 100%, 58%);
    width: 207px;
    height: 63px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: normal;
    font-size: 20px;
}
.cta-select:hover{
    background-color: hsl(48, 100%, 58%);
}
@media screen and (max-width:954px){

    .presentation{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 30px;
        padding-top: 100px;
    }

    .main-h1{
        font-size: 40px;
        line-height: 51.7px;
     }
    .cover{
        display: none;
    }
    .card-main-1,.card-2{
        display: none;
    }
    .main-p{
        font-size: 14px;
    }
    .presentation{
        min-height: 0vh;
    padding: 8vh 0;}



}
@media screen and (max-width:1299px){

    .shape-container{

        left:140px;
        top: 3px;

      }
      .blue-shape{


        width: 357px;
        height: 364px;


      }
      .red-shape{

        width: 357px;
        height: 364px;
        top: 10px;
        left:10px;

      }
    .polka-pattern{

       left:90px;
       top: -30px;

    }

    h1{
        font-size: 50px;
    }

    .cover img{
        height: 381px;
        width: 340px;

    }
    .card-main-1 h4,.card-main-1 p{
        font-size: 60%;

    }
    .card-main-1 {
        padding: 10px 10px;
        align-items: center;
    }
}
/*===================================
/*-----------------Modal Section------------
======================================*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border:0px 0px 15px rgba(10, 25, 49, 0.12);
  border-radius: 10px;
  z-index: 50;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0px 0px 15px rgba(10, 25, 49, 0.12);
  background-color: #F3F3F3;
   border-radius: 10px 10px 0 0;
}

.modal-header .title {
  font-size: 32px;
  font-weight: bold;
  color: #0A1931;
;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
   background-color: #EE8181;;
   padding: 5px 10px;
   border-radius: 5px;
   color: white;
}

.modal-body {
  padding: 20px 25px;
  background-color:#F8F8F8;
    border-radius:  0 0 10px 10px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  z-index: 40;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
.mod-h{
    font-size: 20px;
    color: #185ADB;
    padding-top: 15px;
}
.mod-p{
    font-size: 16px;
    color: #0A1931;
line-height: 31.79px;
padding-top: 15px;
}
.mod-pp{
    padding-top: 0;
    color: #0A1931;
    font-size: 16px;
}
.btn-modal{
    padding: 10px 10px;
    border-radius: 5px;
    color: #0A1931;
    cursor: pointer;
}
.code{
    font-weight: 700;
    font-style: italic;
}
/*===================================
/*-----------------Courses-nav-section------------
======================================*/
.courses-links{
    margin-bottom: 36px;
    padding:0 10px ;


}
.nav-ul{
   width: 50%;

}
.nav-ul li{
    padding: 5px 20px;
    cursor: pointer;
}
.nav-ul a{
    color: #4f4f4f;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: regular;
    padding: 5px 20px;
}
.nav-ul li:hover{

    background-color: hsl(48, 100%, 78%) ;
    border-radius: 5px;
}
.active{
    background-color: hsl(48, 100%, 78%) ;
    border-radius: 5px;
}
.nav-ul li p{
    color:#4F4F4F;
    font-weight: 400;
}
@media screen and (max-width:1299px){
    .nav-ul{
        width: 80%;
        margin: 0 auto;

        justify-content: space-around;
    }

}
@media screen and (max-width:954px){
    .nav-ul{
        /* width: 50%;
        margin: 0 auto; */
        justify-content: flex-start;
       flex-wrap: wrap;


    }
    .nav-ul h4,.nav-ul p{
        font-size: 50%;
        font-weight: 700;
    }
    .nav-ul li{
        margin-bottom: 10px;
    }
}
/*===================================
/*-----------------Courses-section------------
======================================*/
.courses-section{
    width: 90%;
    margin: 0 auto;
    padding:10vh 0;
    position: relative;
}
.common-flex{
    display: flex;
    justify-content: space-between;
}
.course-card-1{
    max-width: 372px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 15px rgba(10, 25, 49, 0.12);
    border-radius: 10px;
    padding: 20px 20px 40px 20px;
    position: relative;
    margin: 0 37px;
}
.small-png{
    border-radius: 50%;
    background-color: #8DB0F4;
    margin-right: 10px;
}
.common-flex-sp{
    display: flex;
    padding-top: 35px;
    align-items: center;
}
.btn-center{
    width: 100%;
    height: 90%;

}
.btn-c{
    width: 50% ;
    margin: 0 auto;
    margin-top:30px;
}

.course-img{
    border-radius: 10px;
    margin-bottom: 19px;
    max-height: 198px;
    width: 100%;
}
.course-list li{
 font-size: 14px;
 font-weight: 400;
}
.course-h3{
    font-weight: 700;
    font-size: 24px;
    color: #0A1931;
}
.course-list li:nth-child(2){
    border-left: 2px solid rgba(14, 40, 140, 0.4);
    border-right: 2px solid rgba(14, 40, 140, 0.4);
    padding: 0 16px;


}
.cs-ls-1{
    padding-top: 29px;
    align-items: center;
}
.online-btn{
    background-color: hsla(216, 76%, 72%, 0.7) ;
    border: 1px solid hsla(216, 76%, 72%, 0.7);
    padding: 6px 27px;
    font-weight: regular;
    border-radius: 4px;
}
/* .online-btn:hover{
    border: 1px solid hsla(216, 76%, 62%, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */
.course-p{
    padding-top: 29px;
    font-size: 14px;
    font-weight: 400;
    line-height:19.07px;
}
.course-price{
    padding-top:22px;
    align-items: center;

}
.common-flex-sp p{
    font-size:14px;
    font-weight: lighter;
    color: #979797;

}
.common-flex-sp h4{
    font-size: 14px;

}
.course-price p{
    font-size: 14px;
    font-weight: 50;
    color: #979797;
}
.line-through{text-decoration: line-through;}
.course-price h4{
    color: #EE8181;
    font-size: 14px;
    font-weight: 700;
}
.fa-star,.fa-book,.fa-eye{
    color: #EE8181;
}
.subtract-course{
    position: absolute;
    z-index: 5;
    top: 17%;
    left: 50%;
    transform:translate(-50%,-50%);
    color: #f3f3f3;

}
 .next{
    position: absolute;
    top: 50%;
    right: 5px;
    cursor: pointer;
    z-index: 2;
    font-size: 2rem;
}
 .prev{
    position: absolute;
    top: 50%;
    left: 5px;
    cursor: pointer;
    z-index: 2;
    font-size: 2rem;
}
@media screen and (max-width:954px){
   .course-list li:nth-child(2){
    border-left: 0;
    border-right: 0;
    padding: 0 16px;


}
}
/*===================================
/*----------------Live-Classes-Section------------
======================================*/
.lv-section{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15vh 0;
}
.lv-p{
    font-weight: 700;
    color: #185ADB;
}
.lv-h2{
    font-weight: 900;
    color: #0A1931;

line-height: 56px
}
.lv-text{
    max-width: 492px;
}
.lv-pl{
    padding-top: 32px;
}
.cta-lv{
    margin-top: 46px;
    width: 255px;
height: 63px;
}
.lv-img{
    border-radius: 50px 0px 50px 0px ;

}
.lv-1-sec{
  position:relative;

}
.lv-blue{
    position:absolute;
    z-index:-1;
    width:534px;
    height:366px;
    top: -5%;
    left: 5%;
    background: #82D6F8;
    border-radius: 50px 0px 50px 0px ;

}
.lv-polka{
    z-index: -3;
    position: absolute;
    padding:50px;
   width:245px;
   height:245px;
   left:-12%;
   top: 52%;
   background-color:#f3f3f3;
   background-image:radial-gradient(#ee818166 3px,transparent 3px);
   background-size:20px 20px;
}
.subtract{
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color: #f3f3f3;
    pointer-events: none;
}
.lv-gradient{
    opacity: 5;
    z-index: 2;
    background-color: rgba(91, 91, 91, 0.5);;
    top: 0%;
    left: 0%;
}
@media screen and (max-width:1299px){
    .lv-h2{
        font-size:32px;
        line-height: 40px;
        padding-top: 5px;

    }
    .lv-p{
        font-size:14px;
    }
    .lv-pl{
        font-size: 14px;
        max-width:400px ;
    }
    .cta-lv{
        width:180px ;
        font-size: 14px;
    }

    .lv-img{
        width: 367px;
       height: 283px;

    }
    .lv-blue{
        width: 367px;
        height: 283px;


    }

    .lv-polka{

        padding:50px;
       width:145px;
       height:145px;
       left:-12%;
       top: 72%;

    }

}
@media screen and (max-width:954px){
    .lv-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;flex-direction: column;}
   .lv-text{

       justify-content: center;
       align-items: center;
   }
        .lv-1-sec{
        margin-top: 50px;
    }
/*      sssssssssss*/



.lv-img{
    width: 317px;
   height: 233px;

}
.lv-blue{
    width: 317px;
    height: 233px;


}

.lv-polka{

    padding:50px;
   width:10px;
   height:100px;
   left:-8%;
   top: 72%;

}

}

/*===================================
/*----------------Perks-Section------------
======================================*/

.perks-section{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 15vh 0 ;
}


.post-slider{

    position: relative;
    width: 517px;
    height: 434px;

}
.post-slider .next-perk{
    position: absolute;
    top: 115%;
    right: 53%;
    cursor: pointer;
    z-index: 2;
    background-color: #FFDF5D;
    padding: 15px;

}
.post-slider .prev-perk{
    position: absolute;
    top: 115%;
    left: 28%;
    cursor: pointer;
    z-index: 2;
    background-color: #FFDF5D;
    padding: 15px;

}
.post-slider .post-wrapper{

   width:402px;
    height: 402px;

    overflow: hidden;
    margin-top: 8%;


}

.post-slider .post-wrapper .post{

    display: inline-block;
    background: rgba(255, 255, 255, 0.95);
     box-shadow: 0px 0px 15px rgba(10, 25, 49, 0.12);
    padding: 43px 23px;
    border-radius: 10px;
    margin: 0 20px;
}

.perk-img{
    border-radius:0px 100px 0px 100px;
}
.perk-1-sec{
    position: relative;
}
.perk-red{
    z-index:-1;
    position:absolute;
    width: 442px;
    height: 439px;
    top: 5%;
    left:5%;
    background: #EE8181;
    border-radius:0px 100px 0px 100px;
}
.perk-polka{
    z-index: -3;
    position: absolute;
    padding:50px;
   width:235px;
   height:235px;
   left:65%;
   top: 63%;
   background-color:#f3f3f3;
   background-image:radial-gradient(#B8CDF6 3px,transparent 3px);
   background-size:20px 20px;
}

.perk-ul,.perk-h4{
    padding-top: 24px;

}
.perk-ul{
    list-style: disc;
    padding-left: 15px;
    line-height: 22px;
}

.perk-h2{
    font-weight: 900;
    color: #0A1931;
}
.perk-p{
    color: #185ADB;
    font-weight: 700;
}
.perk-h4{
    font-weight: 700;
    color: #185ADB;
font-size: 20px;
}
.ico-cont{
    padding:16px 20px;
    background-color:#F3F3F3;
    display: inline-block;
    border-radius: 10px;
}
@media screen and (max-width:1299px){
    .perk-img,.perk-red{
        height: 350px;
        width: 350px;
    }
    .perk-red{
        top:3%;
    }
        .perk-polka{
            width:105px;
            height:105px;
            left:90%;
            top: 63%;
        }
        .perk-h2{
            font-size: 32px;
        }
        .perk-p{
            font-size: 14px;
            padding-bottom: 10px;
        }
        .perk-h4{
            font-size:16px;

        }
        .perk-ul li{
            font-size: 12px;
            padding-top: 5px;
        }
        .ico-cont{
            padding:8px 10px;

        }

}
@media screen and (max-width:984px){.perk-1-sec{display: none;}
 .perks-section{
    padding: 7vh 0;
  }
  .perk-h2,.perk-p{
    padding-left: 25px;
  }

  .post-slider .next-perk{

    top: 100%;
    right: 45%;


}
.post-slider .prev-perk{

    top: 100%;
    left: 30%;

}
.post-slider .post-wrapper .post{

    display: inline-block;
    background: rgba(255, 255, 255, 0.95);
     box-shadow: 0px 0px 15px rgba(10, 25, 49, 0.12);
    padding: 33px 8px;
    border-radius: 10px;
    margin: 0 20px;
}

}
/*===================================
/*-----------------youtube-live Section------------
======================================*/
.youtube-live{
    padding-top:10%;
    padding-bottom:10%;
    display: flex;
   width: 90%;
   margin: 0 auto;
   justify-content: space-between;
   position: relative;


}
.yt-text{
    max-width: 446px;
}
.cta-yt{
    width: 262px;
height: 63px;
}
.yt-live-h{
    font-weight: 900;
    color: #0A1931;
    font-size: 44px;
}
.yt-live-p{
   color:  #185ADB;
    font-weight: 700;
    font-size: 16px;
}

.yt-img-1,.yt-img-2{
    border-radius: 10%;
    border: 2px solid hsl(0, 0%, 80%);

}
.yt-img-1{
    position: absolute;
top: 25%;
left: 55%;}

.yt-ul{
padding: 42px;
list-style: disc;
padding-left: 15px;

}
.yt-ul li{
    padding:5px;

}
.polka-yt{
    z-index: -3;
    position: absolute;
    padding:50px;
   width:245px;
   height:245px;
   left:52%;
   top: 12%;
   background-color:#f3f3f3;
   background-image:radial-gradient(#ee818166 3px,transparent 3px);
   background-size:20px 20px;

}
@media screen and (max-width:1299px){


    .yt-live-h{
        font-size: 32px; margin-top: 10px;
    }
    .yt-live-p
    {
        font-size: 14px;
    }
    .yt-ul p
    {
        font-size: 14px;
    }
    .cta-yt
    { width: 200px;
            height: 63px; font-size: 16px;}
    .yt-img-2{
                height: 232px;
                width: 386px;
            }
    .yt-img-1{
        height:160px; width:90px;
        top: 35%;
        left: 60%;
    }
    .polka-yt{
        z-index: -3;
        position: absolute;
        padding:50px;
       width:180px;
       height:180px;
       left:55%;
       top: 12%;
       background-color:#f3f3f3;
       background-image:radial-gradient(#ee818166 3px,transparent 3px);
       background-size:20px 20px;

    }
}
@media screen and (max-width:954px){
    .polka-yt{
        display: none;

    }
    .yt-img-2{
       visibility: hidden;
       position: absolute;
       pointer-events: none;
    }
    .yt-img-1{
        height:230px; width:120px;
        top: 30%;
        left: 60%;
    }
    .cta-yt
    {   width: 150px;
        margin-top:10px ;
        height: 63px; font-size: 16px;
        font-size: .75em;
       }
       .yt-ul{
           padding-bottom: 15px;
           max-width: 200px;
       }
       .yt-live-h{
        font-size: 32px; margin-top: 10px;
    }
    .yt-ul p{
        font-size: 12px;
    }
}

/*===================================
/*-----------------Testimonial-Section----------
======================================*/

.testimonial-p{
    color: #185ADB;
    font-weight: 700;
    padding-top: 32px;
}
.testimonial-h{
    margin-top: 8px;
    color: #0A1931;
    font-weight: 900;
}
.testimonial-container{
    max-width:70%;
    margin:0 auto;
    display: flex;
    flex-direction: column;

    margin-bottom: 171px;
}

.testimonial-text-container{
    padding-top:130px;
    max-width:50%;
    margin: 0 auto;
}
.testimonial-content{
    display: flex;
    margin-top: 65px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 15px rgba(10, 25, 49, 0.12);

    border-radius: 10px;
}

.testimonial-1{
    position: relative;
    padding: 20px 47px;
   z-index: 2;
}

.shape-container-testimonial-1{
    position:absolute;
    z-index: -1;
    top: 10%;

}
.testimonial-img{
    z-index: 2;
    margin-left: 25px;
    margin-bottom:25% ;
}
.blue-shape-testimonial{
    position:absolute;
    z-index:-9;
    width: 261px;
    height: 311px;
    background: #82D6F8;
    border-radius:0px 100px 0px 100px;
}
.red-shape-testimonial{
    z-index:-10;
    position:relative;
    width: 261px;
    height: 311px;
    top: 10px;
    left:10px;
    background: #185ADB;
    border-radius:0px 100px 0px 100px;
}
.testimonial-img{
    z-index: 10;
}
.testimonial-section{
    position: relative;
}
.testimonial-polka{
    z-index: -2;
    position: absolute;
    padding:50px;
   width:245px;
   height:245px;
   left:78%;
   top: 72%;
   background-color:#f3f3f3;
   background-image:radial-gradient(#ee818166 3px,transparent 3px);
   background-size:20px 20px;
}
.fa-quote-left{
    color: #F1C5C5;
    font-size: 3em;
    position: relative;
    left: 40%;
    top: -10%;
     -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

}
@media screen and (max-width:954px){
    .testimonial-content{
        flex-direction: column;
    }
    .testimonial-1{display: none;}
    .testimonial-text-container{
        padding:20px 0 ;
        max-width: 90%;

    }
    .testimonial-container{
        max-width:90%;
        margin:0 auto;
        display: flex;
        flex-direction: column;

        margin-bottom: 100px;
    }
    .testimonial-polka{display: none;}
    .testimonial-img{display: block;}
    .fa-quote-left{

    font-size: 1.5em;

    left: 0%;

-webkit-transform: scaleX(+1);
  transform: scaleX(+1);

}


}
@media screen and (max-width:1299px){
    .testimonial-h{
        font-size: 32px;
    }
    .testimonial-p{
        font-size: 14px;
    }
    .testimonial-1{padding-right: 25px;}
    .testimonial-text-container{
        padding-right: 20px;
        padding-top: 100px;
    }
    .testimonial-text-container p{font-size: 12px;}
    .blue-shape-testimonial{
        width: 211px;
        height: 261px;
    }
    .red-shape-testimonial{width: 211px;
        height: 261px;}
        .testimonial-img{
            padding-top: 18px;
        }
        .tes-img{
            height: 261px;
            width: 211px;

        }
        .testimonial-polka{
            left:70%;
             top: 72%;
             width:200px;
             height:200px;
        }

}

/*===================================
/*-----------------Mentors Section------------
======================================*/
.mentors{
    width: 90%;
    margin: 0 auto;
}

.mentor-content{
    display: flex;
    margin-top: 71px;
    justify-content: space-around;
    padding-left: 60px;

}

.blue-shape-mentor{
    position:absolute;
    z-index:-9;
    width: 337.2px;
    height: 386.83px;
    background: #82D6F8;
    border-radius:0px 100px 0px 100px;
  }
  .red-shape-mentor{
    z-index:-10;
    position:relative;
    width: 337.2px;
    height: 386.83px;
    top: 10px;
    left:10px;
    background: #EE8181;
    border-radius:0px 100px 0px 100px;
  }

  .mentor-p{
      color:#185ADB;
      font-weight: 700;

  }

  .mentor-h{
      margin-top: 8px;
      color:#0A1931;
      font-weight: 900;
  }

  .mentor-card{
      margin-top: 46px;
      margin-left: 50px;

  }
  .card-special{
      background-color:  rgba(255, 255, 255, 0.95);
      padding: 16px 16px;
     box-shadow: 0px 0px 15px rgba(10, 25, 49, 0.12);
      border-radius: 10px;
      max-width: 321px;
      margin-right:85px;
      margin-left:20px ;
      margin-top: 30px;
  }
  .card{
      display: flex;
  }
  .h-card{
      padding-left: 10px;
  }
  .h-card h6{
      font-size: 16px;
      font-weight: 400;
      color: #185ADB;

  }

  .mentor-2 {
      position: relative;
  }
  .shape-container-mentors-2{
      position:absolute;
  }

  .mentor-3 {
    position: relative;
}
.shape-container-mentors-3{
    position:absolute;
}

.mentor-1 {
    position: relative;
}
.shape-container-mentors-1{
    position:absolute;
}

.arrow-m{
    position: relative;
    top: 200px;
    margin: 0;
    padding: 0;
}

.img-m-1{

    height: 391px;
    width: 338px;

}

.img-m-2{
    padding-top:6px;
    padding-left:25px;
    height: 391px;
    width: 338px;

}

.img-m-3{
    padding-top:32px;
    padding-left: 55px;
    height: 391px;
    width: 338px;

}

.slider .slick-next:before,.slider .slick-prev:before {
    color: hsl(48, 100%, 58%);
    font-size: 20px;
    position: relative;
}
@media screen and (max-width:1299px){
    .mentor-h{
        font-size: 32px;
    }
    .mentor-p{
        font-size: 14px;
    }
}
@media screen and (max-width:944px){

    .blue-shape-mentor{
        width: 257.2px;
        height: 269.83px;
    }
    .red-shape-mentor{
        width: 257.2px;
        height: 269.83px;
    }
    .im-m-1,.im-m-2,.im-m-3,.img-m-1,.img-m-2,.img-m-3{
    height: 270px;
    width: 245px;
    }
    .img-m-2,.im-m-2{
        padding-left: 20px;
    }
    .im-m-1,.img-m-1{

        padding-left: 20px;
    }
    .img-m-3,.im-m-3{
        position: relative;
        bottom: 8%;
        right: 2%;
        height: 260px;
        width: 240px;
    }
    .slider .slick-prev:before{
        left:20px;
        top:-60px;
    }
    .slider .slick-next:before{
        right:35px;
        top:-60px;
    }
    .mentor-content{
        padding-left: 20px;
    }
    .card-special{    margin-left: -44px;

        position: relative;
        left: 16%;}
        .testimonial-text-container {
            padding-right: 20px;
            padding-top: 25px;
        }

}
/*===================================
/*-----------------footer-section------------
======================================*/



.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
    width: 100%;
    margin:0 auto;
	background-color: #f9f9f9;
    padding: 70px 0;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #0A1931;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #FFDF5D;
	height: 2px;
	box-sizing: border-box;
	width: 100px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;

	text-decoration: none;
	font-weight: 300;
	color: #4F4F4F;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #0A1931;
	padding-left: 8px;
}

.social h4{
	font-size: 18px;
	font-weight: 500;
	text-transform: capitalize;

}

.social {
    padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.social ul{
	margin: 10px 0;
	display: flex;
	padding-bottom: 20px;

}
.social ul .fa-facebook{
	color:#4c6ef5;
	margin-right: 10px;
	cursor: pointer;

}
.social ul .fa-instagram{
	color:#f783ac;
	padding: 0 10px;
	cursor: pointer;

}
.social ul .fa-youtube{
	color:#FF0000;
	margin-left: 10px;
	cursor: pointer;

}

.copyright{
	color: #0E288C;
	font-weight: 300;
}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*Contact----section*/
.contact-section{

    padding:10vh 0 ;
    background-color: #e5e5e5;

}
.contact-container{
  width: 90%;
  margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.contact-text{
    width: 50%;
}
.contact-map{
    width: 40%;
    height: 100%;
}
.contact-ul{
    list-style: disc;
    margin-bottom: 50px;
}
.contact-ul li{
    margin-bottom: 16px;
}
.contact-h1{
    text-align: center;
    font-size: 40px;
    color: #0A1931;
    margin-bottom: 80px ;
}
.contact-h2{
    font-size: 25px;
    color: #185ADB;
    margin-bottom: 20px;
}
.contact-social{
    margin-top: 20px;
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.map{
    box-shadow: 4px 4px 6px rgba(209, 209, 209, 0.25);
    border-radius: 15px;
}
.contact-social .fa-facebook{
	color:#4c6ef5;
	cursor: pointer;

}
.contact-social .fa-instagram{
	color:#f783ac;
	cursor: pointer;

}
.contact-social .fa-youtube{
	color:#FF0000;
	cursor: pointer;

}


@media screen and (max-width:1299px){
    .contact-h1{
        font-size: 32px;
    }
    .contact-h2{
        font-size: 20px;
    }
    .contact-p{
        font-size: 12px;
    }
}
@media screen and (max-width:944px){
    .contact-container{
       flex-direction: column;
    }
    .contact-map{
        width: 100%;
    }
    .contact-social{
        margin-top: 20px ;
        margin-bottom: 50px;
        width: 50%;


    }
    .contact-text{
        width: 100%;
    }
    .contact-h1 {


        margin-bottom: 40px;
    }
}
/*===================================
/*-----------------upsc-ias-Section------------
======================================*/
.course-section {
    width: 90%;
    margin: 0 auto;
    padding: 10vh 0;
}
.course-h1{
    font-size: 40px;
    color: #0A1931;
    margin-bottom:2% ;
    text-align: center;
}
.list-group{
    background-color: hsl(0, 0%, 98%);
    width: 80%;

}
.list-group-item{
    padding: 12px 20px;
    border: 1px solid rgba(0,0,0,.125);

}

.btn-danger{
    background-color: hsl(0, 76%, 62%);
    border: 1px solid hsl(0, 76%, 52%);
    color: white;
    cursor: pointer;
}
.btn-danger:hover{
    background-color: hsl(0, 76%, 52%);
}
.btn-light{
    border: none;
    background-color: transparent;
    color: #4c6ef5;
   cursor: pointer;
}

.courses-p{
    padding-bottom: 1rem;
    line-height:25px;
    max-width: 85%;
}

.courses-h5{
    font-size: 25px;
    color: #4c6ef5;
    margin: 1rem 0;
}

@media screen and (max-width:944px){
    .list-group{

        width: 100%;

    }
    .courses-p{
        padding-bottom: 2rem;

    }
    .course-h1{

        text-align:start;
        font-size: 35px;
        margin-bottom: 5%;
    }

}
