<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Home</h4>
                <ul>
                    <li><a href="/">Equations IAS</a></li>
                    <li><a href="#cours-s">Online Course</a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=co.bran.Equia&hl=en" target="_blank">Download Mobile App</a></li>
                    <li><a href="contact">Contact Us</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>Courses</h4>
                <ul>
                    <li><a href="upsc-ias-coaching-in-dehradun">UPSC Coaching in Dehradun</a></li>
                    <li><a href="upsc-ias-coaching-in-dehradun">IAS Coaching in Dehradun</a></li>
                    <li><a href="pcs-coaching-in-dehradun">PCS Coaching in Dehradun</a></li>
                    <li><a href="bank-po-coaching-in-dehradun">Bank PO Coaching in Dehradun</a></li>
                    <li><a href="ssc-coaching-in-dehradun">SSC Coaching in Dehradun</a></li>
                    <li><a href="cds-coaching-in-dehradun">CDS Coaching in Dehradun</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>About Us</h4>
                <ul>

                    <li><a href="#">Equations IAS is India’s one of the best coaching institutes offering online and offline classes for highly competitive exams like UPSC, PCS, SSC and Bank PO.</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact Us</h4>
                 <ul>
                 <li><a href="#">Equations IAS Ambika complex, First Floor Ballupur Chowk exactly,</a></li>
                 <li><a href="#">GMS Road, Dehradun,
                    Uttarakhand.
                    (+91)-8266010605
                    Email: info@equations.co.in
                    </a></li>

             </ul>
            </div>
        </div>
        <div class="social">
         <h4>Follow</h4>
            <ul>
            <a href="https://www.facebook.com/EquationsiasInstitute/" target="_blank"><li><i class="fb fab fa-facebook fa-lg"></i></li></a>
           <a href="https://www.instagram.com/equationsias/" target="_blank"><li> <i class="fab fa-instagram fa-lg"></i></li></a>
           <a href=" https://www.youtube.com/c/EquationsIAS/" target="_blank"><li> <i class="fab fa-youtube fa-lg"></i></li></a>
         </ul>
         <h4 class="copyright">&copy;2021-22 Copyright EquationsIAS</h4>
        </div>

    </div>
</footer>
