<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Home</h4>
                <ul>
                    <li><a href="#">Best UPSC Coaching For UPSC In Dehradun</a></li>
                    <li><a href="#">Best PCS Coaching For UPSC In Dehradun</a></li>
                    <li><a href="#">Best SSC Preparation In Dehradun</a></li>
                    <li><a href="#">Best Bank Coaching In Dehradun</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>Courses</h4>
                <ul>
                    <li><a href="#">UPSC</a></li>
                    <li><a href="#">Bank PO</a></li>
                    <li><a href="#">PSC</a></li>
                    <li><a href="#">SSC</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>About Us</h4>
                <ul>
                    <li><a href="#">Equations IAS is India’s one of the best coaching institutes offering online and offline classes </a></li>
                    <li><a href="#">Equations IAS is India’s one of the best coaching institutes offering online and offline classes for highly competitive exams like UPSC, PCS, SSC and Bank PO.</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact Us</h4>
                 <ul>
                 <li><a href="#">Equations IAS Ambika complex, First Floor Ballupur Chowk exactly,</a></li>
                 <li><a href="#">GMS Road, Dehradun,
                    Uttarakhand.
                    (+91)-8266010605,
                    (+91)-92196 55426
                    Email: info@equations.co.in
                    </a></li>

             </ul>
            </div>
        </div>
        <div class="social">
         <h4>Follow</h4>
            <ul>
            <a href="https://www.facebook.com/EquationsiasInstitute/"><li><i class="fb fab fa-facebook fa-lg"></i></li></a>
           <a href="https://www.instagram.com/equationsias/"><li> <i class="fab fa-instagram fa-lg"></i></li></a>
           <a href=" https://www.youtube.com/c/EquationsIAS/"><li> <i class="fab fa-youtube fa-lg"></i></li></a>
         </ul>
         <h4 class="copyright">Copyright EquationIAS</h4>
        </div>

    </div>
</footer>
