<footer> 
    <div id="footer-s1" class="footer-s1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About Us -->
                    <div class="col-md-3 col-sm-6 ">
                        <div>
                            <img src="img/logo_equation_white.png" alt="" class="img-fluid">
                        </div>
                        <ul class="list-unstyled comp-desc-f">
                            <li><p>
                                    "EQUATIONS IAS is a hub for empowering excellence in Dehradun from past 10 successful years. It provides the best guidance and learning for the prestigious government exams focusing IAS, PCS, SSC and Banking. It endures the learning and is best known for its innovative, adaptive approach of teaching methodology."
                        </ul><br> 
                    </div>
                    <!-- End About Us -->
                    <!-- Recent News -->
                    <div class="col-md-3 col-sm-6 ">
                        <div class="heading-footer"><h2>Useful Links</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="#">About us</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://web.classplusapp.com">E-Learning </a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Contact us</a><i class="fa fa-angle-right"></i></li> 
                        </ul>
                    </div>
                    <!-- End Recent list -->
                    <!-- Recent Blog Entries -->
                    <div class="col-md-3 col-sm-6 ">
                        <div class="heading-footer"><h2>Recent Post Entries</h2></div>
                        <ul class="list-unstyled thumb-list">
                            <li>
                                <div class="overflow-h">
                                    <a href="#"> Important Dates for upcoming Events.</a>
                                    <small>November, 2018</small>
                                </div>
                            </li>
                            <li>
                                <div class="overflow-h">
                                    <a href="#">Recent Notifications and News.</a>
                                    <small> November , 2018</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- End Recent Blog Entries -->
                    <!-- Latest Tweets -->
                    <div class="col-md-3 col-sm-6">
                        <div class="heading-footer"><h2>Get In Touch</h2></div>
                        <address class="address-details-f">
                            Equations IAS <br>
                            Ambika complex,<br>
                            First Floor <br>
                            Ballupur Chowk exactly, <br>
                            GMS Road, Dehradun, <br>
                            Uttarakhand.<br>
                            (+91)-8266010605,<br>
                            (+91)-92196 55426<br>
                            Email: <a href="mailto: info@equations.co.in" class=""> info@equations.co.in</a>
                        </address>  
                        <ul class="list-inline social-icon-f top-data">
                            <li><a href="https://www.facebook.com/EquationsInstitute/" target=" "><i class="fa top-social fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/Equations_India" target=" "><i class="fa top-social fa-twitter"></i></a></li>
                        
                        </ul>
                    </div>
                    <!-- End Latest Tweets -->
                </div>
            </div><!--/container -->
        </div> 
    </div>
    <div id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="footer-copyrights">
                        <p>Copyrights &copy; 2019 All Rights Reserved by Equations IAS.Developed & Design by SUJIT SINGH ~ singhs692@gmail.com <a href="#">Privacy Policy</a> <a href="#">Terms of Services</a></p>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <a href="#home" id="back-to-top" class="btn btn-sm btn-green btn-back-to-top smooth-scrolls hidden-sm hidden-xs" title="home" role="button">
        <i class="fa fa-angle-up"></i>
    </a>
</footer>
<!-- preloader -->
<div id='preloader'><div class='preloader'></div></div>
<!-- /preloader -->
<!--Global JavaScript -->
<script src="js/jquery/jquery.min.js"></script>
<script src="js/popper/popper.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/wow/wow.min.js"></script>
<script src="js/owl-carousel/owl.carousel.min.js"></script>
<!-- Plugin JavaScript -->
<script src="js/custom.js"></script>   
<script src="js/jquery-easing/jquery.easing.min.js"></script>  
