<!--====================================================
================== Header-Section =====================
====================================================-->
<nav>
    <div class="logo">
        <a href="/"><img src="/img/logo.png" alt="Website Logo" width="157" height"35"></a>
    </div>
    <ul class="nav-links">
        <li class="normal-link"><a href="">Home </a></li>
        <li class="normal-link"><a href="#">Courses <i class="fas fa-angle-down"></i></a>
            <div class="sub-menu-1">
                <ul>
                <li class="normal-link"><a href="#">IAS Coaching</a></li>
                <li class="normal-link"><a href="#">PCS Coaching</a></li>
                <li class="normal-link"><a href="#">CDS Coaching</a></li>
                <li class="normal-link"><a href="#">SSC Coaching</a></li>
                <li class="normal-link"><a href="#">Bank PO Coaching</a></li>
                </ul>
            </div>
        </li>
        <li class="normal-link"><a href="#">About Us <i class="fas fa-angle-down"></i></a>
            <div class="sub-menu-1">
                <ul>
                <li class="normal-link"><a href="#">Profile</a></li>
                <li class="normal-link"><a href="#">Testimonials</a></li>
                </ul>
            </div>
        </li>
        <li class="normal-link"><a href="">Contact Us</a></li>
        <li><a  href="" class="btn" target="_blank">Download</a></li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>
